
.ax-contact-sec {
	position: sticky;
	bottom: 0;
	min-height: 100vh;
	z-index: 1;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		position: static;
	}
	.ax-contact-bg {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 100%;
	}
	.ax-cont-text {
		left: 0;
		top: 25px     ;
		position: absolute;
	}
}

.ax-cont-text {
	margin-top: 8px;
	h2 {
		color: #fff;
		font-size: 146px;
		font-weight: 500;
		letter-spacing: -1.46px;
	}
}

.ax-contact-content {
	padding-top: 386px;
	padding-bottom: 68px;
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 300px;
	}
}

.ax-contact-form {
	width: 100%;
	padding: 40px;
	max-width: 700px;
	border-radius: 16px;
	background: #0D1B2A4D;
	backdrop-filter: blur(16px);
	.row {
		--bs-gutter-x: 20px;
	}
	label {
		color: #fff;
		display: block;
		font-weight: 600;
		margin-bottom: 8px;
		font-family: var(--ax-mona);
	}
	input,textarea {
		width: 100%;
		height: 40px;
		border: none;
		margin-bottom: 32px;
		letter-spacing: 1px;
		color: rgba(255, 255, 255, .6);
		background-color: transparent;
		transition: all 400ms ease-in-out;
		border-bottom: 1px solid rgba(255, 255, 255, 0.6);
		&::placeholder {
			letter-spacing: 1px;
			color: rgba(255, 255, 255, .6);
		}
		&:focus {
			border-bottom: 1px solid rgba(255, 255, 255, 1);
		}
	}
	textarea {
		height: 100px;
	}
	button {
		gap: 16px;
		display: flex;
		border: none;
		font-weight: 600;
		background: #fff;
		align-items: center;
		border-radius: 100px;
		font-family: var(--ax-mona);
		padding: 10px 10px 10px 30px;
		transition: all 500ms ease-in-out;
		span {
			font-weight: 600;
			white-space: nowrap;
			letter-spacing: .32px;
			color: var(--ax-title-color);
		}
		i {
			width: 36px;
			color: #fff;
			height: 36px;
			display: flex;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			transform: rotate(-45deg);
			background: var(--ax-title-color);
		}
		&:hover {
			background-color: var(--ax-prime-c);
		}
	}
}