.ax-ft1-sec {
	.container {
		max-width: 1604px;
	}
}
.ax-ft1-content {
	gap: 32px;
	z-index: 2;
	display: grid;
	margin-top: -100px;
	border-radius: 20px;
	position: relative;
	padding: 32px 32px 40px;
	background-color: #F1F3F5;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	@media #{$lg,$md} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}

.ax-ft1-item {
	z-index: 1;
	position: relative;
	border-radius: 14px;
	padding: 16px 16px 8px;
	background: linear-gradient(180deg, #FFFFFF 0%, #F1F3F5 75.48%);
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		content: '';
		z-index: -1;
		height: 0%;
		position: absolute;
		border-radius: 14px;
		transition: all 500ms ease-in-out;
		background: linear-gradient(180deg, #A7C8FE 0%, #F1F3F5 74.04%);
	}
	.item-img {
		height: 105px;
		background-color: #fff;
		clip-path: polygon( 100% 96.19%,100% 96.19%,99.984% 96.808%,99.937% 97.395%,99.862% 97.941%,99.761% 98.44%,99.637% 98.884%,99.493% 99.265%,99.331% 99.575%,99.153% 99.806%,98.962% 99.95%,98.762% 100%,63.158% 100%,63.158% 100%,62.957% 99.95%,62.767% 99.805%,62.588% 99.574%,62.424% 99.264%,62.277% 98.883%,62.148% 98.439%,62.039% 97.941%,61.952% 97.395%,61.891% 96.811%,61.855% 96.196%,61.855% 96.196%,61.542% 90.867%,60.985% 85.839%,60.205% 81.175%,59.221% 76.934%,58.053% 73.178%,56.722% 69.968%,55.247% 67.365%,53.647% 65.431%,51.943% 64.225%,50.155% 63.81%,50.155% 63.81%,48.366% 64.225%,46.663% 65.431%,45.063% 67.365%,43.588% 69.968%,42.256% 73.178%,41.089% 76.934%,40.105% 81.175%,39.325% 85.839%,38.768% 90.867%,38.454% 96.196%,38.454% 96.196%,38.419% 96.811%,38.357% 97.395%,38.271% 97.941%,38.162% 98.439%,38.033% 98.883%,37.885% 99.264%,37.721% 99.574%,37.543% 99.805%,37.352% 99.95%,37.152% 100%,1.238% 100%,1.238% 100%,1.038% 99.95%,0.847% 99.806%,0.669% 99.575%,0.507% 99.265%,0.363% 98.884%,0.239% 98.44%,0.138% 97.941%,0.063% 97.395%,0.016% 96.808%,0% 96.19%,0% 3.81%,0% 3.81%,0.016% 3.192%,0.063% 2.605%,0.138% 2.059%,0.239% 1.56%,0.363% 1.116%,0.507% 0.735%,0.669% 0.425%,0.847% 0.194%,1.038% 0.05%,1.238% 0%,98.762% 0%,98.762% 0%,98.962% 0.05%,99.153% 0.194%,99.331% 0.425%,99.493% 0.735%,99.637% 1.116%,99.761% 1.56%,99.862% 2.059%,99.937% 2.605%,99.984% 3.192%,100% 3.81%,100% 96.19% );
		img {
			mix-blend-mode: luminosity;
			transition: all 500ms ease-in-out;
		}
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			clip-path: none;
			overflow: hidden;
			border-radius: 4px;
		}
	}
	.item-icon {
		z-index: 1;
		width: 56px;
		height: 56px;
		margin: 0 auto;
		margin-top: -27px;
		position: relative;
		border-radius: 100%;
		margin-bottom: 20px;
		background-color:  #0136FF1F;
		transition: all 500ms ease-in-out;
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			width: 72px;
			height: 72px;
			margin-top: -32px;
			position: relative;
			border: 8px solid #F1F3F5;
			background-color: rgb(185 200 255);
		}
		svg {
			path {
				transition: all 500ms ease-in-out;
			}
		}
	}
	.item-text {
		h3 {
			font-size: 20px;
			font-weight: 500;
			letter-spacing: -.2px;
			padding-bottom: 14px;
		}
	}
	&:hover {
		&:before {
			height: 100%;
		}
		.item-img {
			img {
				mix-blend-mode: normal;
				transform: scale(1.1);
			}
		}
		.item-icon {
			background-color: var(--ax-color2);
			transform: scale(-1) rotate(180deg);
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
} 