.ax-review-sec {
	padding: 30px 0px;
	background-color: var(--ax-prime-c);
}
.ax-review-content {
	display: flow-root;
}

.ax-review-item {
	margin: 0px 15px;
	display: inline-block;
	span {
		top: 10px;
		font-size: 36px;
		font-weight: 600;
		margin: 0px 20px;
		position: relative;
		color: var(--ax-title-color);
	}
	.inner-item {
		gap: 20px;
		display: flex;
		align-items: center;
		.item-img {
			width: 46px;
			height: 60px;
			overflow: hidden;
			border-radius: 35px;
			transition: all 300ms ease-in-out;
		}
		.item-text {
			max-width: 237px;
			font-weight: 500;
			letter-spacing: -.16px;
			color: var(--ax-title-color);
		}
	}
	&:hover {
		.inner-item {
			.item-img {
				transform: scale(1.2);
			}
		}
	}
}