.ax-testi1-sec {
	.ax-testi-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			opacity: .6;
			position: absolute;
			background-color: var(--ax-title-color);
		}
	}
}

.ax-testi-content {
	gap: 30px;
	flex-wrap: wrap;
	padding-top: 455px;
	padding-bottom: 72px;
	@media #{$xs,$xxs} {
		padding-top: 120px;
	}
}
.ax-testi1-slider-area {
	width: 100%;
	max-width: 696px;
}

.ax-testi1-item {
	gap: 15px;
	position: relative;
	border-radius: 20px;
	padding: 20px 20px 5px;
	background-color: #F1F3F5;
	border: 3px solid #FFFFFF;
	@media #{$xs,$xxs} {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	&:before {
		top: 0;
		left: 0;
		z-index: -2;
		width: 100%;
		content: '';
		opacity: .6;
		height: 100%;
		position: absolute;
		border-radius: 20px;
		transform: rotate(0deg);
		transition: all 500ms ease-in-out;
		background: linear-gradient(90deg, #0136FF 0%, #55D7EA 100%);
	}

	.item-text {
		padding: 20px;
		max-width: 455px;
		@media #{$xxs} {
			padding-left: 0;
		}
		li {
			opacity: 0;
			color: #FF8D28;
			transition: all 600ms ease-in-out;
		}
		p {
			opacity: 0;
			font-size: 22px;
			line-height: 1.55;
			padding-top: 20px;
			transform: translateX(30px);
			color: var(--ax-title-color);
			transition: all 800ms ease-in-out;
			i {
				color: var(--ax-color2);
			}
			@media #{$xxs} {
				font-size: 18px;
			}
		}
		.author-name {
			opacity: 0;
			margin-top: 65px;
			transform: translateY(30px);
			transition: all 600ms ease-in-out;
			@media #{$xs,$xxs} {
				margin-top: 30px;
			}
			h3 {
				font-size: 18px;
				font-weight: 600;
				padding-bottom: 5px;
			}
		}
	}
	.item-img {
		max-width: 152px;
		overflow: hidden;
		border-radius: 12px;
		img {
			transform: scale(1.3);
			transition: all 800ms ease-in-out;
		}
		@media #{$xs,$xxs} {
			max-height: 200px
		}
	}
}

.swiper-slide-active {
	.ax-testi1-item {
		&:before {
			transform: rotate(3deg);
			transition-delay: 500ms;
		}
		.item-text {
			li {
				opacity: 1;
				&:nth-child(1) {
					transition-delay: 100ms;
				}
				&:nth-child(2) {
					transition-delay: 200ms;
				}
				&:nth-child(3) {
					transition-delay: 300ms;
				}
				&:nth-child(4) {
					transition-delay: 400ms;
				}
				&:nth-child(5) {
					transition-delay: 500ms;
				}
			}
			p {
				opacity: 1;
				transition-delay: 400ms;
				transform: translateX(0px);
			}
			.author-name {
				opacity: 1;
				transition-delay: 600ms;
				transform: translateY(0px);
			}
		}
		.item-img {
			img {
				transform: scale(1);
			}
		}
	}
}


.ax-testi1-slider {
	.swiper-slide {
		padding: 20px 10px;
	}
}
.ax-testi1-nav {
	gap: 12px;
	margin-bottom: 20px;
	@media #{$xs,$xxs} {
		margin-bottom: 0;
	}
}
.ax-testi1-prev,
.ax-testi1-next {
	color: #fff;
	width: 68px;
	height: 68px;
	cursor: pointer;
	font-size: 20px;
	overflow: hidden;
	border-radius: 100%;
	border: 1px solid #FFFFFF;
	backdrop-filter: blur(10px);
	transition: all 300ms ease-in-out;
	@media #{$xs,$xxs} {
		width: 50px;
		height: 50px;
	}
	&:hover {
		color: #fff;
		border: 1px solid var(--ax-prime-c);
		background-color: var(--ax-prime-c);
	}
}