@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: inherit;
	}
}
body {
	margin: 0;
	padding: 0;
	z-index: 1;
	font-size: 16px;
	margin: 0 auto;
	line-height: 1.5;
	position: relative;
	overflow-x: hidden;
	color: var(--ax-body-color);
	font-family: var(--ax-inter );
	background-color: #fff;     
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased; 

	&:is(.ax-home) {
		.container {
			max-width: 1424px;
		}
	}

	.row {
		--bs-gutter-x: 32px;
	}
	.mfp-iframe-holder .mfp-close {
		right: 0;
		padding: 0;
		top: -40px;
		width: 40px;
		height: 40px;
		text-align: center;
		background-size: 200%, 1px;
	}
	button.mfp-close {
		right: 0;
		padding: 0;
		color: #fff;
		width: 40px;
		height: 40px;
		text-align: center;
		background-size: 200%, 1px;
	}
}
body::-webkit-scrollbar {
	width: 6px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	outline: none;
	border-radius: 0px;
	background-size: 200%, 1px;
	background-color: var(--ax-prime-c);
}
.home-2 {
	font-size: 16px;
	color: var(--ax-body-color2);
	&::-webkit-scrollbar-thumb {
		outline: none;
		border-radius: 0px;
		background-size: 200%, 1px;
		background-color: var(--ax-prime-c2);
	}
	.container {
		max-width: 1384px;
	}
}
.ul-li ul {
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
	}
}
.ul-li-block ul {
	margin:0;
	padding: 0;
	li{
		display: block;
		list-style: none;
	}
}

.headline h1,
.headline h2,
.headline h3,
.headline h4,
.headline h5,
.headline h6 {
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.25;
	color: var(--ax-title-color);
	font-family: var(--ax-mona);
}

.headline-2 h1,
.headline-2 h2,
.headline-2 h3,
.headline-2 h4,
.headline-2 h5,
.headline-2 h6 {
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.25;
	color: var(--ax-title-color2);
	font-family: var(--ax-dm);
}

@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}

#preloader { 
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 99999; 
	width: 100%; 
	height: 100%;
	overflow: visible;
	background-color: #fff;
	.preloader-logo {
		left: 0;
		top: 50%;
		right: 0;
		text-align: center;
		position: absolute;
		transform: translateY(-50%);
		.item-img {
			transform-origin: top center;
			animation: swing 2s ease infinite;
		}
	}
}

[data-background] {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}
.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a.active,
select,
select:hover,
select:focus,
select:visited {
	outline: none;
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}
a, span {
	display: inline-block;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-transform: inherit;
	text-decoration: none;
	transition: inherit;
}
a {
	color: inherit;
	text-decoration:none;
	transition: 500ms all ease;
	&:hover, &:focus{
		text-decoration: none;
	}
}
.form-control {
	box-shadow: none;
}
.background_overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.pera-content {
	p {
		margin-bottom: 0;
	}
}
.splitting.animated .char {
	-webkit-animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	-webkit-animation-delay: calc(30ms * var(--char-index));
	animation-delay: calc(30ms * var(--char-index));
}
.splitting .whitespace {
	width: 10px;
}
.href-underline {
	a {
		width: 100%;
		display: inline !important;
		background-position-y: -1px;
		background-repeat: no-repeat;
		background-size: 0 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
		-webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		&:hover {
			color: inherit;
			background-size: 100% 100%;
		}
	}
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
	display: flex;
}
.tx-tab-btn {
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-link {
		border: none;
		padding-top: 0;
		padding-right: 0;
		border-radius: 0;
		margin-bottom: 0;
		cursor: pointer;
		background-color: transparent;
	}
	.nav-tabs {
		border: none;
	}
	.nav {
		display: inherit;
	}
}
.over-hidden,
.split-line {
	overflow: hidden;
} 
.marquee-left,
.marquee-right {
	display: flow-root;
}

.img-cover {
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100% !important;
		object-fit: cover;
	}
	video {
		width: 100%;
		height: 100% !important;
		object-fit: cover; 
	}
}


.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
	line-height: 1;
}

.ax-sec-title {
	.subtitle {
		font-size: 15px;
		font-weight: 500;
		line-height: 1.6;
		padding: 2px 20px;
		border-radius: 4px;
		position: relative;
		margin-bottom: 15px;
		display: inline-block;
		letter-spacing: .15px;
		font-family: var(--ax-mona);
		color: var(--ax-title-color);
		background: linear-gradient(90deg, #D7DFFF 0%, rgba(255, 255, 255, 0) 50%, #D7DFFF 100%);
		&:before,
		&:after {
			top: 12px;
			width: 4px;
			height: 4px;
			content: '';
			position: absolute;
			border-radius: 100%;
			background: linear-gradient(90deg, #0136FF 0%, #55D7EA 100%);
		}
		&:before {
			left: 8px;
		}
		&:after {
			right: 8px;
		}
	}

	.sec_title {
		font-size: 44px;
		font-weight: 600;
		line-height: 1.09;
		@media #{$md} {
			font-size: 42px;
		}
		@media #{$sm} {
			font-size: 40px;
		}
		@media #{$xs} {
			font-size: 38px;
		}
		@media #{$xxs} {
			font-size: 34px;
		}
		@media #{$xxxs} {
			font-size: 30px;
		}
	}

	p {
		font-size: 18px;
		padding-top: 18px;
	}
}

.ax-sec-title2 {
	.subtitle {
		margin-bottom: 10px;
		letter-spacing: -.5px;
		color: var(--ax-prime-c2);
	}
	.sec_title {
		font-size: 44px;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -.5px;
		span {
			color: var(--ax-prime-c2);
		}
		@media #{$md} {
			font-size: 42px;
		}
		@media #{$sm} {
			font-size: 40px;
		}
		@media #{$xs} {
			font-size: 38px;
		}
		@media #{$xxs} {
			font-size: 34px;
		}
		@media #{$xxxs} {
			font-size: 30px;
		}
	}
	p {
		padding-top: 8px;
	}
}

.ax-btn1 {
	display: inline-block;
	a {
		gap: 16px;
		display: flex;
		align-items: center;
		border-radius: 100px;
		font-family: var(--ax-mona);
		padding: 10px 10px 10px 30px;
		background: linear-gradient(90deg, var(--ax-color2) 0%,var(--ax-color1) 50%, var(--ax-color2) 100%);
		background-size: 200% 100%;
		background-position: left center;
		transition: background-position 0.5s ease;
		span {
			color: #fff;
			font-weight: 600;
			white-space: nowrap;
			letter-spacing: .32px;
		}
		i {
			width: 36px;
			color: #fff;
			height: 36px;
			display: flex;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			transform: rotate(-45deg);
			background: linear-gradient(90deg, var(--ax-color1) 0%,var(--ax-color2) 50%, var(--ax-color1) 100%);
			background-size: 200% 100%;
			background-position: left center;
			transition:  0.5s ease;
		}
		&:hover {
			background-position: right center;
			i {
				background-position: right center;
				transform: rotate(0deg);
			}
		}
	}
}

.ax-btn2 {
	display: inline-block;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			color: #fff;
			z-index: 1;
			font-size: 16px;
			font-weight: 500;
			padding: 12px 20px;
			position: relative;
			transition: all .3s;
			border-radius: 16px;
			white-space: nowrap;
			background-color: var(--ax-prime-c2);
		}
		i {
			width: 48px;
			height: 48px;
			font-size: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 12px;
			transition: all .3s;
			color: var(--ax-prime-c2);
			background-color: #fff;
			&:before {
				display: inline-block;
				transform: rotate(-45deg);
			}
		}
		>*:nth-child(1) {
			transform: scale3d(0.5, 0.5, 1);
			margin-inline-end: -45px;
		}

		>*:nth-child(2) {
			transform: scale3d(1, 1, 1);
		}

		>*:nth-child(3) {
			transform: scale3d(1, 1, 1);
			margin-inline-start: 0;

		}
		&:hover {
			>*:nth-child(1) {
				transform: scale3d(1, 1, 1);
				margin-inline-end: 0;
			}

			>*:nth-child(2) {
				transform: scale3d(1, 1, 1);
			}

			>*:nth-child(3) {
				transform: scale3d(0.5, 0.5, 1);
				margin-inline-start: -45px;
			}
		}
	}
	&:is(.ver_2) {
		i {
			color: #fff;
			background-color: #051229;
		}
	}
}

.ax-btn3 {
	a {
		color: #fff;
		font-weight: 500;
		padding: 11px 20px;
		border-radius: 14px;
		letter-spacing: -.5px;
		border: 1px solid #FFFFFF;
		&:hover {
			border: 1px solid var(--ax-prime-c2);
			background-color: var(--ax-prime-c2);
		}
	}
}

// txa-common-css-start

@for $i from 1 through 40 {
	.mt-#{5 * $i}{margin-top: 5px * $i;}
}

@for $i from 1 through 40 {
	.mb-#{5 * $i}{margin-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.ml-#{5 * $i}{margin-left: 5px * $i;}
}

@for $i from 1 through 40 {
	.mr-#{5 * $i}{margin-right: 5px *$i;}
}

@for $i from 1 through 40 {
	.pt-#{5 * $i}{padding-top: 5px *$i;}
}

@for $i from 1 through 60 {
	.pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.pl-#{5 * $i}{padding-left: 5px *$i;}
}

@for $i from 1 through 40 {
	.pr-#{5 * $i}{padding-right: 5px *$i;}
}