@import  './dev2-scss/variables';
@import  './dev2-scss/utility';
@import  './dev2-scss/wow-plus';
@import  './dev2-scss/typography';
@import  './dev2-scss/button';


@import  './dev2-scss/header';
@import  './dev2-scss/hero';
@import  './dev2-scss/about';
@import  './dev2-scss/services';
@import  './dev2-scss/industry';
@import  './dev2-scss/price';
@import  './dev2-scss/team';
@import  './dev2-scss/achieve';
@import  './dev2-scss/process';
@import  './dev2-scss/choose';
@import  './dev2-scss/faqs';
@import  './dev2-scss/partner';
@import  './dev2-scss/projects';
@import  './dev2-scss/testimonial';
@import  './dev2-scss/blog';
@import  './dev2-scss/contact';
@import  './dev2-scss/footer';