/*----------------------------------------------------

1. Global Area 
2. Header Section

******* HOME PAGE 1 *******



=====================================================================*/


@import "template";
@import "header";
@import "offcanvas";
@import "search";

/*global area*/
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/******* HOME PAGE 1 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/hero";
/*---------------------------------------------------- */
/*Feature area*/
/*----------------------------------------------------*/
@import "home_1/feature";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_1/about";
/*---------------------------------------------------- */
/*review area*/
/*----------------------------------------------------*/
@import "home_1/review";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_1/service";
/*---------------------------------------------------- */
/*Price area*/
/*----------------------------------------------------*/
@import "home_1/price";
/*---------------------------------------------------- */
/*Why choose area*/
/*----------------------------------------------------*/
@import "home_1/why-choose";
/*---------------------------------------------------- */
/*work Process area*/
/*----------------------------------------------------*/
@import "home_1/work-process";
/*---------------------------------------------------- */
/*project area*/
/*----------------------------------------------------*/
@import "home_1/project";
/*---------------------------------------------------- */
/*team area*/
/*----------------------------------------------------*/
@import "home_1/team";
/*---------------------------------------------------- */
/*testimonial area*/
/*----------------------------------------------------*/
@import "home_1/testi";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_1/blog";
/*---------------------------------------------------- */
/*Faq area*/
/*----------------------------------------------------*/
@import "home_1/faq";
/*---------------------------------------------------- */
/*Contact area*/
/*----------------------------------------------------*/
@import "home_1/contact";
/*---------------------------------------------------- */

/******* HOME PAGE 2 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_2/hero";
/*---------------------------------------------------- */
/*Sponsor area*/
/*----------------------------------------------------*/
@import "home_2/sponsor";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_2/about";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_2/service";
/*---------------------------------------------------- */
/*Project area*/
/*----------------------------------------------------*/
@import "home_2/project";
/*---------------------------------------------------- */
/*Why choose area*/
/*----------------------------------------------------*/
@import "home_2/why-choose";
/*---------------------------------------------------- */
/*Work Process area*/
/*----------------------------------------------------*/
@import "home_2/work-process";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_2/testi";
/*---------------------------------------------------- */
/*Price area*/
/*----------------------------------------------------*/
@import "home_2/price";
/*---------------------------------------------------- */
/*Team area*/
/*----------------------------------------------------*/
@import "home_2/team";
/*---------------------------------------------------- */
/*Contact area*/
/*----------------------------------------------------*/
@import "home_2/contact";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_2/blog";
/*---------------------------------------------------- */



/*Footer Section*/
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */