:root {
  --as-font-1: var(--ax-mona);
  --as-font-2: var(--ax-inter);
  --as-clr-pr-1: var(--ax-prime-c2);
  --as-clr-sd-1: var(--ax-prime-c);
  --as-clr-h-1: #050519;
  --as-clr-p-1: #3E3E3F;
  --as-cube-1: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) ;
}

/*
    utility-start
*/
@media (min-width: 1500px) {
  .container.as-container-1 {
    max-width: 1424px;
  }
}
.wa-fix {
  overflow: hidden;
}

.wa-ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.wa-p-relative {
  position: relative;
  z-index: 1;
}

.wa-img-cover img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.wa-video-cover video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wa-bg-default {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.flaticon {
  display: inline-block;
  line-height: 0.65;
}

.wa-line-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wa-line-limit:is(.has-line-1) {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.wa-line-limit:is(.has-line-2) {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.wa-line-limit:is(.has-line-3) {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.wa-line-limit:is(.has-line-4) {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.wa-line-limit:is(.has-line-5) {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}
.wa-line-limit:is(.has-line-6) {
  -webkit-line-clamp: 6;
  line-clamp: 6;
}
.wa-line-limit:is(.has-line-7) {
  -webkit-line-clamp: 7;
  line-clamp: 7;
}
.wa-line-limit:is(.has-line-8) {
  -webkit-line-clamp: 8;
  line-clamp: 8;
}
.wa-line-limit:is(.has-line-9) {
  -webkit-line-clamp: 9;
  line-clamp: 9;
}
.wa-line-limit:is(.has-line-10) {
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

/* 
    wow-plus-start
*/
@keyframes wa-rotated {
  to {
    transform: rotate(360deg);
  }
}
@keyframes wa-rotated-minus {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    filter: blur(3px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    filter: blur(0px);
  }
}
.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  animation-duration: 0.4s;
  animation-timing-function: var(--as-cube-1);
}

@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    filter: blur(3px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    filter: blur(0px);
  }
}
.fadeInDown2 {
  -webkit-animation-name: fadeInDown2;
  animation-name: fadeInDown2;
  animation-duration: 0.4s;
  animation-timing-function: var(--as-cube-1);
}

@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    filter: blur(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    filter: blur(0px);
  }
}
.fadeInRight2 {
  -webkit-animation-name: fadeInRight2;
  animation-name: fadeInRight2;
  animation-duration: 0.4s;
  animation-timing-function: var(--as-cube-1);
}

@keyframes fadeInLeft2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    filter: blur(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    filter: blur(0px);
  }
}
.fadeInLeft2 {
  -webkit-animation-name: fadeInLeft2;
  animation-name: fadeInLeft2;
  animation-duration: 0.4s;
  animation-timing-function: var(--as-cube-1);
}

/* 
    wow-plus-end
*/
/* 
    typography-start
*/
.as-p-1 {
  font-family: var(--as-font-2);
  font-weight: 400;
  font-size: 18px;
  color: var(--as-clr-p-1);
  line-height: 1.555;
  margin-bottom: 0;
}

.as-h-1 {
  font-family: var(--as-font-1);
  font-weight: 500;
  color: var(--as-clr-h-1);
  letter-spacing: -0.01em;
  line-height: 1.09;
  margin-bottom: 0;
}

.as-subtitle-1 {
  display: inline-flex;
  border: 1px solid rgba(5, 5, 25, 0.2);
  border-radius: 6px;
  font-family: var(--as-font-1);
  font-weight: 500;
  color: var(--as-clr-h-1);
  line-height: 1.3;
  font-size: 15px;
  gap: 6px;
  align-items: center;
  padding: 4px 7px;
  margin-bottom: 15px;
}
.as-subtitle-1 i {
  color: var(--as-clr-sd-1);
}

.as-sec-title-1 {
  font-family: var(--as-font-1);
  color: var(--as-clr-h-1);
  font-weight: 600;
  font-size: 44px;
  letter-spacing: -0.01em;
  line-height: 1.09;
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .as-sec-title-1 {
    font-size: 42px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .as-sec-title-1 {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .as-sec-title-1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .as-sec-title-1 {
    font-size: 34px;
  }
}

/* 
    typography-end
*/
/*
    05. button
*/
/* 
    button-start
*/
.as-offcanvas-btn-1 {
  width: 80px;
  height: 80px;
  font-size: 24px;
  background: var(--as-clr-sd-1);
  color: var(--as-clr-h-1);
  border: none;
}

.as-pr-btn-1 {
  font-family: var(--as-font-1);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 4px 0;
  padding-left: 25px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.as-pr-btn-1::after {
  content: "";
  width: calc(100% - 36px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--as-clr-pr-1);
  border-radius: 200px;
  z-index: -1;
  transition: var(--as-cube-1);
}
.as-pr-btn-1 .icon {
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 5px var(--as-clr-pr-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  color: var(--as-clr-pr-1);
  transition: var(--as-cube-1);
  outline: 4px solid var(--as-clr-pr-1);
  transition: var(--as-cube-1);
}
.as-pr-btn-1:hover {
  color: #fff;
}
.as-pr-btn-1:hover::after {
  width: calc(100% - 0px);
}
.as-pr-btn-1:hover .icon {
  transform: rotate(45deg);
  background-color: var(--as-clr-sd-1);
  color: #000;
}

.as-plybtn-1 {
  font-size: 16px;
  color: #fff;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  transition: var(--as-cube-1);
}
.as-plybtn-1:hover {
  color: var(--as-clr-sd-1);
}

/* 
    button-end
*/
/* 
    header-1-start
*/
.as-header-1-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.as-header-1-top {
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.48);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 8px 28px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-header-1-top {
    display: none;
  }
}
.as-header-1-top-contact {
  display: flex;
  gap: 48px;
  align-items: center;
}
.as-header-1-top-contact .link-elm {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  display: inline-flex;
  align-items: center;
  gap: 9px;
  font-weight: 300;
  transition: var(--as-cube-1);
}
.as-header-1-top-contact .link-elm i {
  color: var(--as-clr-sd-1);
  font-size: 18px;
}
.as-header-1-top-contact .link-elm:hover {
  color: var(--as-clr-sd-1);
}
.as-header-1-top-social {
  display: flex;
  align-items: center;
  gap: 16px;
}
.as-header-1-top-social .title {
  color: #fff;
  font-size: 16px;
}
.as-header-1-top-social .link-elm {
  transition: var(--as-cube-1);
  font-size: 16px;
  color: #fff;
  opacity: 72%;
}
.as-header-1-top-social .link-elm:hover {
  opacity: 1;
  color: var(--as-clr-sd-1);
}
.as-header-1-bottom {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.48);
  backdrop-filter: blur(2px);
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-header-1-bottom {
    gap: 30px;
  }
}
.as-header-1-bottom-links {
  display: flex;
  align-items: center;
}
@media (min-width: 1800px), only screen and (min-width: 1600px) and (max-width: 1799px), only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .as-header-1-bottom-links .as-offcanvas-btn-1 {
    display: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-header-1-bottom-links .as-header-1-search {
    display: none;
  }
}
@media (max-width: 767px) {
  .as-header-1-bottom-links .as-header-1-btn {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .as-header-1-bottom-links .as-header-1-btn {
    display: inline-flex;
  }
}
.as-header-1-logo {
  max-width: 260px;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.28);
  border-right: 1px solid rgba(255, 255, 255, 0.48);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-header-1-logo {
    max-width: 200px;
  }
}
.as-header-1-search {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.48);
  padding: 20px 0;
  max-width: 180px;
}
.as-header-1-search .form-input {
  font-size: 14px;
  background: transparent;
  border: none;
  height: 40px;
  padding: 0px 30px 0px 0px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  width: 100%;
}
.as-header-1-search .form-btn {
  background: transparent;
  color: #fff;
  width: auto;
  height: auto;
  border: navajowhite;
  padding: 0;
  font-size: 18px;
  transition: var(--as-cube-1);
}
.as-header-1-search .form-btn:hover {
  color: var(--as-clr-sd-1);
}
.as-header-1-btn {
  display: inline-flex;
  color: #fff;
  background-color: var(--as-clr-pr-1);
  padding: 31px 60px;
  font-size: 16px;
  letter-spacing: 0.02em;
  transition: var(--as-cube-1);
}
.as-header-1-btn:hover {
  color: #000;
  background-color: var(--as-clr-sd-1);
}

.as-main-navigation .navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: center;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .as-main-navigation .navbar-nav {
    gap: 30px;
  }
}
.as-main-navigation .navbar-nav li a {
  position: relative;
  z-index: 1;
  font-family: var(--as-font-2);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  color: #fff;
  padding: 28px 0;
  display: inline-flex;
  align-items: center;
  transition: var(--as-cube-1);
}
.as-main-navigation .navbar-nav li:is(.dropdown) > a {
  padding-right: 15px;
}
.as-main-navigation .navbar-nav li:is(.dropdown) > a::before {
  display: block;
  content: "\f107";
  font-family: "Font Awesome 6 free";
  font-weight: 700;
  position: absolute;
  font-size: 11px;
  right: 0px;
  top: 51%;
  transform: translateY(-50%);
}
.as-main-navigation .navbar-nav li:hover > a {
  color: var(--as-clr-sd-1);
}
.as-main-navigation .navbar-nav li:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.as-main-navigation .navbar-nav li .dropdown-menu {
  left: 0;
  top: 100%;
  z-index: 100;
  margin: 0px;
  padding: 10px 0px;
  height: auto;
  min-width: 200px;
  display: block;
  position: absolute;
  background: #fff;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: var(--as-cube-1);
  border-radius: 0;
  border: none;
}
.as-main-navigation .navbar-nav li .dropdown-menu li {
  display: block;
  margin: 0;
  transition: var(--sk-cube-1);
}
.as-main-navigation .navbar-nav li .dropdown-menu li::after {
  display: none;
}
.as-main-navigation .navbar-nav li .dropdown-menu li a {
  width: 100%;
  display: block;
  padding: 9px 20px;
  color: var(--as-clr-h-1);
}
.as-main-navigation .navbar-nav li .dropdown-menu li:is(.dropdown) > a {
  padding-right: 13px;
}
.as-main-navigation .navbar-nav li .dropdown-menu li:is(.dropdown) > a::before {
  display: block;
  content: "\f107";
  font-family: "Font Awesome 6 free";
  font-weight: 700;
  position: absolute;
  font-size: 11px;
  right: 20px;
  top: 51%;
  transform: translateY(-50%);
  opacity: 42%;
}
.as-main-navigation .navbar-nav li .dropdown-menu li:hover > a {
  color: var(--as-clr-sd-1);
}
.as-main-navigation .navbar-nav li .dropdown-menu li .dropdown-menu {
  top: 0;
  left: 100%;
}

/* 
    header-1-end
*/
/* 
    hero-1-start
*/
.as-hero-1-area {
  padding-top: 270px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .as-hero-1-area {
    padding-top: 170px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-hero-1-area {
    padding-top: 170px;
    padding-bottom: 0px;
  }
}
.as-hero-1-area::after {
  content: "";
  width: 100%;
  height: 242px;
  background: linear-gradient(180deg, rgba(1, 1, 53, 0) 0%, #010135 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.as-hero-1-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.as-hero-1-title {
  font-size: 68px;
  font-weight: 600;
  color: #fff;
  line-height: 1.058;
  max-width: 634px;
  margin-bottom: 108px;
}
.as-hero-1-title span {
  color: var(--as-clr-sd-1);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .as-hero-1-title {
    font-size: 62px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .as-hero-1-title {
    font-size: 56px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .as-hero-1-title {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .as-hero-1-title {
    font-size: 38px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .as-hero-1-title {
    font-size: 44px;
  }
}
.as-hero-1-disc {
  color: #fff;
  max-width: 556px;
  opacity: 80;
  margin-bottom: 35px;
}
.as-hero-1-content .btn-wrap {
  display: flex;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}
.as-hero-1-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-hero-1-bottom {
    flex-wrap: wrap;
  }
}
.as-hero-1-author {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .as-hero-1-author {
    flex-wrap: wrap;
  }
}
.as-hero-1-author-img {
  display: flex;
  align-items: center;
}
.as-hero-1-author-img .img-elm {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #010234;
  transition: var(--as-cube-1);
}
.as-hero-1-author-img .img-elm:not(:first-child) {
  margin-left: -16px;
}
.as-hero-1-author-img .img-elm:is(.has-text) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262662;
}
.as-hero-1-author-img .img-elm:is(.has-text) p {
  color: #fff;
  font-size: 18px;
}
.as-hero-1-author-img .img-elm:is(.has-text) p span {
  color: var(--as-clr-sd-1);
}
.as-hero-1-author-img .img-elm:hover:not(.has-text) {
  position: relative;
  z-index: 1;
  transform: scale(1.1);
}
.as-hero-1-author-content .title {
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  margin-bottom: 7px;
}
.as-hero-1-author-content .disc {
  color: rgba(255, 255, 255, 0.8);
}
.as-hero-1-author-content .disc b {
  color: #fff;
  font-weight: 500;
}
.as-hero-1-partner {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  max-width: 840px;
}
.as-hero-1-partner-logo {
  display: flex;
  gap: 65px;
  align-items: center;
  margin-right: 65px;
}
@media (max-width: 767px) {
  .as-hero-1-partner-logo {
    margin-right: 35px;
    gap: 35px;
  }
}
.as-hero-1-partner-logo .logo-elm {
  flex: 0 0 auto;
}
.as-hero-1-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
  width: 54%;
  perspective: 2000px;
  transform-style: preserve-3d;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-hero-1-img {
    position: unset;
    margin-top: 50px;
    width: 100%;
  }
}

/* 
    hero-1-end
*/
/* 
    about-1-start
*/
.as-about-1-area {
  background-color: #F4F4FE;
}
.as-about-1-wrap {
  display: grid;
  grid-template-columns: 1.57fr 1fr;
  gap: 60px;
  align-items: start;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-about-1-wrap {
    grid-template-columns: 1fr;
  }
}
.as-about-1-content {
  display: flex;
  gap: 40px;
}
@media (max-width: 767px) {
  .as-about-1-content {
    flex-wrap: wrap;
  }
}
.as-about-1-content .disc {
  margin-bottom: 35px;
}
.as-about-1-expri {
  position: relative;
  z-index: 1;
  display: inline-block;
  flex: 0 0 auto;
}
.as-about-1-expri-number {
  display: inline-block;
  font-weight: 600;
  font-size: 260px;
  line-height: 0.9;
}
.as-about-1-expri-number span:nth-child(2) {
  margin-left: -40px;
}
.as-about-1-expri-number:nth-child(1) span {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.as-about-1-expri-number:nth-child(1) span:nth-child(1) {
  background-position: top;
}
.as-about-1-expri-number:nth-child(1) span:nth-child(2) {
  background-size: 50% 100%;
  background-position: left;
}
.as-about-1-expri-number:is(.has-stroke) {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%);
  z-index: -1;
}
.as-about-1-expri-content {
  position: absolute;
  right: 7px;
  top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}
.as-about-1-expri-content .title {
  writing-mode: sideways-lr;
  margin: 0;
  max-height: 100px;
  line-height: 1.2;
  font-weight: 500;
}
.as-about-1-fold-scene {
  width: 520px;
  height: 656px;
  position: relative;
  perspective: 1600px;
}
@media (max-width: 767px) {
  .as-about-1-fold-scene {
    width: 280px;
    height: 346px;
  }
}
.as-about-1-fold-scene .fold {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: 200% 100%;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  border-radius: 16px;
}
.as-about-1-fold-scene .left {
  background-position: left center;
  transform-origin: right center;
  transform: rotateY(90deg);
  background-size: cover;
}
.as-about-1-fold-scene .right {
  right: 0;
  background-position: right center;
  transform-origin: left center;
  transform: rotateY(-90deg);
  background-size: cover;
}
.as-about-1-fold-scene-line {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.as-about-1-fold-scene-line * {
  fill: #F4F4FE;
}
.as-about-1-progress {
  position: absolute;
  width: 211px;
  background: radial-gradient(50% 50% at 50% 50%, #E9E6FF 30.77%, #AEA5FE 100%);
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 12px 15px;
  top: 52px;
  right: -85px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-about-1-progress {
    right: 0;
  }
}
.as-about-1-progress .title {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}
.as-about-1-progress .number {
  font-size: 32px;
  font-weight: 500;
  color: #050519;
  margin-bottom: -24px;
}
.as-about-1-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.as-about-1-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--as-clr-h-1);
}
.as-about-1-list li i {
  color: var(--as-clr-pr-1);
}
.as-about-1-list-x-features {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 50px;
  z-index: 2;
  align-items: end;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-about-1-list-x-features {
    grid-template-columns: 1fr;
  }
}
.as-about-1-features {
  margin-right: -230px;
  display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .as-about-1-features {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .as-about-1-features {
    flex-direction: column;
    gap: 30px;
    margin-right: 0px;
  }
}
.as-about-1-features-item {
  position: relative;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  width: 70px;
  transition: var(--as-cube-1);
}
.as-about-1-features-item:hover:not(.active) {
  transform: scaleX(1.05);
  transform-origin: left;
}
.as-about-1-features-item .content-wrap {
  max-width: 500px;
  width: max-content;
  padding: 35px 40px;
  transition: var(--as-cube-1);
  transition-delay: 0s;
  opacity: 0;
}
@media (max-width: 767px) {
  .as-about-1-features-item .content-wrap {
    max-width: auto;
    width: auto;
  }
}
.as-about-1-features-item .item-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 22px;
  border-radius: 10px;
  transition: var(--as-cube-1);
  cursor: pointer;
}
.as-about-1-features-item .btn-title {
  writing-mode: sideways-lr;
  font-size: 15px;
  margin: 0;
  letter-spacing: 0.08em;
}
.as-about-1-features-item .btn-icon {
  font-size: 28px;
}
.as-about-1-features-item .bg-favicon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: var(--as-cube-1);
  transition-delay: 0s;
  opacity: 0;
}
.as-about-1-features-item .title-x-icon {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 14px;
}
.as-about-1-features-item .title-x-icon .left {
  max-width: 216px;
  width: 100%;
}
.as-about-1-features-item .title-x-icon .icon {
  font-size: 34px;
  margin-bottom: -3px;
}
.as-about-1-features-item .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.as-about-1-features-item .left-line {
  display: flex;
  align-items: center;
}
.as-about-1-features-item .left-line i {
  color: var(--as-clr-pr-1);
  font-size: 20px;
}
.as-about-1-features-item .left-line .line {
  height: 1px;
  width: 100%;
  background-color: #050519;
  opacity: 16%;
  margin-left: -14px;
}
.as-about-1-features-item .disc {
  font-size: 16px;
}
.as-about-1-features-item:not(:first-child) {
  margin-left: -15px;
}
@media (max-width: 767px) {
  .as-about-1-features-item:not(:first-child) {
    margin-left: 0px;
  }
}
.as-about-1-features-item:nth-child(1) {
  z-index: 3;
}
.as-about-1-features-item:nth-child(2) {
  z-index: 2;
}
.as-about-1-features-item:is(.has-clr-1) {
  background-color: #B8AFFF;
}
.as-about-1-features-item:is(.has-clr-1) .btn-icon {
  color: var(--as-clr-h-1);
}
.as-about-1-features-item:is(.has-clr-1) .bg-favicon img {
  opacity: 20%;
}
.as-about-1-features-item:is(.has-clr-2) {
  background-color: #3E3E3F;
}
.as-about-1-features-item:is(.has-clr-2) .btn-icon {
  color: rgba(255, 255, 255, 0.75);
}
.as-about-1-features-item:is(.has-clr-2) .btn-title {
  color: rgba(255, 255, 255, 0.75);
}
.as-about-1-features-item:is(.has-clr-2) .title, .as-about-1-features-item:is(.has-clr-2) .icon {
  color: #fff;
}
.as-about-1-features-item:is(.has-clr-2) .left-line .line {
  background-color: #fff;
  opacity: 46%;
}
.as-about-1-features-item:is(.has-clr-2) .left-line i {
  color: var(--as-clr-sd-1);
}
.as-about-1-features-item:is(.has-clr-2) .disc {
  color: #fff;
}
.as-about-1-features-item:is(.has-clr-2) .bg-favicon img {
  opacity: 20%;
}
.as-about-1-features-item:is(.active) {
  width: 500px;
}
.as-about-1-features-item:is(.active) .content-wrap {
  opacity: 1;
  transition-delay: 0.2s;
}
.as-about-1-features-item:is(.active) .item-btn {
  opacity: 0;
}
.as-about-1-features-item:is(.active) .bg-favicon {
  opacity: 1;
  transition-delay: 0.2s;
}
@media (max-width: 767px) {
  .as-about-1-features-item:is(.active) {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .as-about-1-features-item:not(.active) {
    max-width: 500px;
    width: 100%;
  }
  .as-about-1-features-item:not(.active) .content-wrap {
    opacity: 1;
    transition-delay: 0.2s;
  }
  .as-about-1-features-item:not(.active) .item-btn {
    opacity: 0;
  }
  .as-about-1-features-item:not(.active) .bg-favicon {
    opacity: 1;
    transition-delay: 0.2s;
  }
}
.as-about-1-bg-shape {
  position: absolute;
  bottom: 0px;
  right: -220px;
  z-index: -1;
  width: 25%;
}

/* 
    about-1-end
*/
/* 
    services-1-start
*/
.as-services-1-wrap {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  align-items: center;
  border-top: 1px dashed rgba(5, 5, 25, 0.2);
  border-bottom: 1px dashed rgba(5, 5, 25, 0.2);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-services-1-wrap {
    grid-template-columns: 1fr;
  }
}
.as-services-1-wrap-right {
  padding: 0 40px;
}
@media (max-width: 767px) {
  .as-services-1-wrap-right {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .as-services-1-wrap-right {
    padding: 0 40px;
  }
}
.as-services-1-border {
  border-left: 1px dashed rgba(5, 5, 25, 0.2);
  border-right: 1px dashed rgba(5, 5, 25, 0.2);
}
.as-services-1-tabs-btn {
  border-right: 1px dashed rgba(5, 5, 25, 0.2);
}
.as-services-1-tabs-btn .nav-link {
  text-align: left;
  border: none;
  background: transparent;
  width: 100%;
  position: relative;
  z-index: 1;
}
.as-services-1-tabs-btn .nav-link .bg-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--as-clr-h-1);
  opacity: 0;
  transition: var(--as-cube-1);
}
.as-services-1-tabs-btn-single {
  width: 100%;
  padding: 20px 28px;
}
.as-services-1-tabs-btn-single .top-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.as-services-1-tabs-btn-single .number {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.48);
  font-weight: 500;
  max-width: 160px;
  width: 100%;
  align-self: start;
  margin-top: 9px;
}
.as-services-1-tabs-btn-single .number span {
  transition: var(--as-cube-1);
}
.as-services-1-tabs-btn-single .number span:nth-child(2) {
  color: var(--as-clr-pr-1);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-services-1-tabs-btn-single .number {
    max-width: 100%;
  }
}
.as-services-1-tabs-btn-single .arrow-btn {
  width: 48px;
  height: 48px;
  background-color: #E6E6E8;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #000;
  margin-left: auto;
  transition: var(--as-cube-1);
}
.as-services-1-tabs-btn-single .title {
  font-size: 26px;
  transition: var(--as-cube-1);
}
.as-services-1-tabs-btn-single .title a {
  transition: var(--as-cube-1);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-services-1-tabs-btn-single .title {
    font-size: 22px;
  }
}
.as-services-1-tabs-btn-single .bottom-content {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  padding-top: 0px;
  overflow: hidden;
  height: 0px;
  transition: var(--as-cube-1);
}
@media (max-width: 767px) {
  .as-services-1-tabs-btn-single .bottom-content {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .as-services-1-tabs-btn-single .bottom-content {
    flex-wrap: nowrap;
  }
}
.as-services-1-tabs-btn-single .icon {
  font-size: 90px;
  line-height: 0.65;
  margin-left: 80px;
  color: var(--as-clr-sd-1);
}
@media (max-width: 767px) {
  .as-services-1-tabs-btn-single .icon {
    margin-left: 0px;
  }
}
.as-services-1-tabs-btn-single .disc {
  opacity: 80%;
  font-size: 16px;
  max-width: 350px;
  color: #fff;
}
.as-services-1-tabs-btn .nav-item:not(:last-child) .nav-link {
  border-bottom: 1px dashed rgba(5, 5, 25, 0.2);
}
.as-services-1-tabs-btn .nav-link.active .bg-line {
  opacity: 1;
}
.as-services-1-tabs-btn .nav-link.active .as-services-1-tabs-btn-single .title {
  color: #fff;
  font-weight: 700;
}
.as-services-1-tabs-btn .nav-link.active .as-services-1-tabs-btn-single .number span:nth-child(1) {
  opacity: 0;
}
.as-services-1-tabs-btn .nav-link.active .as-services-1-tabs-btn-single .number span:nth-child(2) {
  color: #fff;
}
.as-services-1-tabs-btn .nav-link.active .as-services-1-tabs-btn-single .arrow-btn {
  background-color: var(--as-clr-pr-1);
  color: #fff;
}
.as-services-1-tabs-btn .nav-link.active .as-services-1-tabs-btn-single .bottom-content {
  padding-top: 12px;
  height: 114px;
}
@media (max-width: 767px) {
  .as-services-1-tabs-btn .nav-link.active .as-services-1-tabs-btn-single .bottom-content {
    height: 298px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .as-services-1-tabs-btn .nav-link.active .as-services-1-tabs-btn-single .bottom-content {
    height: 156px;
  }
}
.as-services-1-tabs-box {
  height: 486px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.as-services-1-tabs-box::after {
  content: "";
  width: 100%;
  height: 311.74px;
  background: #1D1EE3;
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.68);
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}
.as-services-1-tabs-box::before {
  content: "";
  width: 100%;
  height: 172.02px;
  background: #1D1EE3;
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.68);
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.as-services-1-tabs-box .favicon-elm {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.as-services-1-tabs-pane {
  max-width: 350px;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .as-services-1-tabs-pane {
    max-width: 260px;
  }
}
.as-services-1-tabs-pane-img {
  height: 386px;
  border-radius: 8px;
  transition: 0.4s;
  transition-delay: 0s;
}
.as-services-1-tabs-pane .tab-pane {
  display: block;
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: 0;
}
.as-services-1-tabs-pane .tab-pane:is(.show) .as-services-1-tabs-pane-img {
  transform: translateY(-82%) rotate(9deg);
  transition-delay: 0.2s;
}
.as-services-1-content {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding: 0 32px;
  align-items: center;
}
.as-services-1-content .disc {
  max-width: 685px;
}

/* 
    services-1-end
*/

/*# sourceMappingURL=main.css.map */
