.ax-contact2-sec {
	margin: 0 20px;
}

.ax-contact2-wrapper {
	z-index: 1;
	border-radius: 40px;
	.ax-testi-bg {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 100%;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			content: '';
			height: 100%;
			opacity: .94;
			position: absolute;
			background-color: #051229;
		}
	}
}
.ax-cont-subtitle {
	color: #fff;
	margin-bottom: 20px;
	padding-bottom: 12px;
	border-bottom: 1px solid #313B4C;
}
.ax-contact2-content {
	.ax-sec-title2 {
		.sec_title {
			max-width: 750px;
			color: #fff;
			span {
				color: #fff;
				opacity: .7;
				display: inline;
			}
		}
	}
}


.ax-cont2-area {
	gap: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.ax-cont2-author {
	gap: 16px;
	padding: 4px;
	max-width: 346px;
	padding-right: 25px;
	border-radius: 20px;
	background-color: #fff;
	.item-img {
		width: 126px;
		height: 126px;
		overflow: hidden;
		border-radius: 16px;
	}
	.item-text {
		display: flex;
		flex-wrap: wrap;
		padding: 10px 0;
		flex-direction: column;
		justify-content: space-between;
		h3 {
			font-size: 20px;
			font-weight: 600;
		}
		span {
			font-size: 16px;
		}
		a {
			i {
				transform: rotate(-45deg);
			}	
			&:hover {
				color: var(--ax-prime-c2);
			}
		}
	}
}

.ax-cont2-cta-list {
	margin-top: 110px;
	h3 {
		color: #fff;
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 20px;
	} 
	li {
		color: #E5E5E5;
		margin-bottom: 12px;
		span {
			color: #fff;
			font-size: 20px;
			font-weight: 500;
			margin-right: 10px;
		}
	}
}

.ax-cont2-form {
	width: 100%;
	padding: 40px;
	max-width: 750px;
	border-radius: 24px;
	background-color: #1D293E;
	@media #{$lg} {
		max-width: 550px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	@media #{$xxxs} {
		padding: 30px 15px;
	}
	input,textarea {
		width: 100%;
		height: 60px;
		border: none;
		padding-top: 15px;
		margin-bottom: 15px;
		color: rgba(255, 255, 255, .6);
		background-color: transparent;
		border-bottom: 1px solid #83838333;
		transition: all 500ms ease-in-out;
		&::placeholder {
			color: rgba(255, 255, 255, .6);
		}
		&:focus {
			border-bottom: 1px solid #fff;
		}
	}
	textarea {
		height: 140px;
		margin-bottom: 0;
	}
	button {
		padding: 0;
		border: none;
		display: flex;
		margin-top: 40px;
		background-color: transparent;
		span {
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			padding: 12px 20px;
			border-radius: 14px;
			background-color: var(--ax-prime-c2);
			transition: all 300ms ease-in-out;
		}
		i {
			width: 48px;
			height: 48px;
			display: flex;
			font-size: 18px;
			align-items: center;	
			border-radius: 14px;
			justify-content: center;
			background-color: #fff;
			color: var(--ax-prime-c2);
			transition: all 300ms ease-in-out;
			&:before {
				transform: rotate(-45deg);
			}
		}
		&:hover {
			span {
				color: var(--ax-prime-c2);
				background-color: #fff;
			}
			i {
				color: #fff;
				background-color: var(--ax-prime-c2);
			}
		}
	}
}