.ax-price2-sec {
	margin: 0px 20px;
	background-color: #EDF2F8;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	@media #{$xxs} {
		margin: 0;
	}
	.ax-sec-title2 {
		margin: 0 auto;
		max-width: 600px;
	}
}

.ax-price2-content {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$md} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}

.ax-price2-item {
	padding: 4px;
	border-radius: 32px;
	background-color: #fff;
	.inner-area {
		padding: 28px 28px 30px;
	}
	.item-top {
		padding-bottom: 74px;
		h3 {
			line-height: 1;
			font-size: 20px;
			font-weight: 600;
			letter-spacing: -1px;
			padding-bottom: 16px;
		}
		h2 {
			font-size: 48px;
			font-weight: 600;
			letter-spacing: -2px;
			span {
				color: #313130;
				font-size: 16px;
				font-weight: 400;
				letter-spacing: -1px;
			}
		}
	}
	.item-btn-text {
		a {
			width: 100%;
			padding: 12px;
			font-weight: 500;
			text-align: center;
			margin-bottom: 16px;
			border-radius: 12px;
			background-color: #EDF2F8;
			color: var(--ax-title-color2);
			&:hover {
				letter-spacing: 1px;
			}
		}
	}
	.item-list {
		padding: 25px 28px;
		border-radius: 32px;
		background-color: #EDF2F8;
		h3 {
			font-size: 20px;
			font-weight: 500;
			letter-spacing: -.5px;
			padding-bottom: 14px;
		}
		li {
			margin-bottom: 10px;
			letter-spacing: -1px;
			i {
				margin-right: 8px;
			}
		}
	}
}

.ax-price2-item-wrap1 {
	.ax-pri-shape1 {
		top: -12%;
		right: -20%;
	}
	.ax-price2-grp {
		top: 24%;
		left: 32px;
		position: absolute;
		@media #{$lg,$xxs} {
			top: 22%;
		}
	}
	.toggle,
	.toggler {
		margin: 0px 5px;
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		vertical-align: middle;
	}
	.toggler {
		color: var(--ax-title-color);
		transition: .2s;
		cursor: pointer;
	}

	.b {
		display: block;
	}
	.toggle {
		position: relative;
		width: 40px;
		height: 24px;
		overflow: hidden;
		border-radius: 20px;
		border: 1px solid #E5E5E5;
	}
	.check {
		position: absolute;
		display: block;
		cursor: pointer;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 6;
	}
	.check:checked ~ .switch {
		right: 2px;
		left: 50.5%;
		transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transition-property: left, right;
		transition-delay: .08s, 0s;
	}
	.switch {
		left: 3px;
		bottom: 2.5px;
		position: absolute;
		right: 57.5%;
		width: 16px;
		height: 16px;
		border-radius: 36px;
		z-index: 1;
		background-color: var(--ax-prime-c2);
		transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transition-property: left, right;
		transition-delay: 0s, .08s;
	}
	.toggler {
		display: none;
		cursor: pointer;
	}
	.toggler--is-active {
		display: block;
	}
	.hide {
		display: none;
	}
	&:is(.popular) {
		.ax-pri-shape1 {
			opacity: .3;
		}
		.toggle {
			background-color: #fff;
		}
		.toggler {
			color: #fff;
		}
		.ax-price2-item {
			background-color: var(--ax-prime-c2);
			.item-top {
				h3 {
					color: #fff;
				}
				h2 {
					color: #fff;
					span {
						color: #E5E5E5;
					}
				}
			}
			.item-btn-text {
				p {
					color: #fff;
				}
			}
		}
	}
}