.ax-project2-wrapper {
	height: 824px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		height: auto;
	}
}
.ax-project2-content1,
.ax-project2-content2 {
	height: 100%;
	width: 140%;
	height: 400px;
	margin-bottom: 24px;
	max-width: 2650px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		gap: 30px;
		height: auto;
		width: 100%;
		display: grid;
		max-width: 100%;
		grid-template-columns: 1fr 1fr;
	}
	@media #{$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}
.ax-project2-content1 {
	margin-right: -30%;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-left: 0;
		margin-bottom: 30px;
	}
}
.ax-project2-content2 {
	margin-left: -25%;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-left: 0;
	}
}

.ax-pro-item2 {
	max-width: 520px;
	overflow: hidden;
	margin: 0px 12px;
	display: inline-block;
	border-radius: 24px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin: 0;
		max-width: 100%;
	}
	.item-img {
		img {
			transform: scale(1);
			transition: all 500ms ease-in-out;
		}
	}
	.inner-item {
		height: 100%;
	}
	.item-meta {
		top: 16px;
		left: 16px;
		opacity: 0;
		position: absolute;
		transform: translateY(30px);
		transition: all 500ms ease-in-out;
		a {
			color: #fff;
			font-size: 14px;
			font-weight: 500;
			padding: 8px 14px;
			border-radius: 10px;
			border: 1px solid #ffffff38;
			backdrop-filter: blur(16px); 	
			background: rgba(13, 27, 42, 0.3019607843);
		}
	}
	.item-text {
		left: 0px;
		right: 0px;
		width: 96%;
		bottom: 8px;
		margin: 0 auto;
		position: absolute;
		border-radius: 20px;
		transform: scaleY(0);
		background-color: #fff;
		padding: 8px 8px 8px 24px;
		transition: all 500ms ease-in-out;
		span {
			color: #121212;
			font-size: 20px;
			letter-spacing: -.5px;
		}
		i {
			color: #fff;
			width: 48px;
			height: 48px;
			display: flex;
			border-radius: 14px;
			align-items: center;
			justify-content: center;
			background-color: var(--ax-prime-c2);
			&:before {
				transform: rotate(-45deg);
			}
		}
	}
	&:hover {
		.item-meta {
			opacity: 1;
			transform: translateY(0px);
		}
		.item-text {
			transform: scaleY(1);
		}
		.item-img {
			img {
				transform: scale(1.1);
			}
		}
	}
}


.ax-circle-btn {
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 280px;
	height: 280px;
	border-radius: 100%;
	position: absolute;
	background-color: var(--ax-prime-c2);
	transform: translateX(-50%) translateY(-50%);
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 100%;
		position: absolute;
		border-radius: 100%;
		border: 10px  solid #000;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		display: none !important;
	}
	.ax-btn-cir {
		top: 0;
		left: 0;
		z-index: -1;
		position: absolute;
	}
	a {
		color: #fff;
		width: 100%;
		height: 100%;
		font-size: 32px;
		font-weight: 500;
		letter-spacing: -1px;
	}
}