.ax-ser2-sec {
	margin: 0px 20px;
	@media #{$md,$sm,$xs,$xxs} {
		margin: 0;
	}
}

.ax-ser2-wrapper {
	z-index: 1;
	overflow: hidden;
	border-radius: 40px;
	@media #{$md,$sm,$xs,$xxs} {
		border-radius: 0;
	}
	.ax-ser2-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		&:before {
			top: 0;
			width: 100%;
			content: '';
			height: 100%;
			opacity: .94;
			position: absolute;
			background-color: var(--ax-title-color2);
		}
	}
}

.ax-ser2-top {
	.ax-sec-title2 {
		max-width: 535px;
		.subtitle {
			color: #fff;
		}
		.sec_title {
			color: #fff;
			span {
				color: #fff;
				opacity: .7;

			}
		}
	}
	.top_desc {
		margin-top: 15px;
		max-width: 465px;
		p {
			color: #E5E5E5;
			padding-bottom: 20px;
		}
	}
}
@keyframes glow {
	0%, 100% {
		opacity: 0.3;
		filter: drop-shadow(0 0 0px #1D1EE3);
	}
	50% {
		opacity: 1;
		filter: drop-shadow(0 0 5px #1D1EE3) drop-shadow(0 0 10px #1D1EE3);
	}
}
.ax-ser2-item {
	z-index: 1;
	max-width: 1210px;
	padding: 48px 0px;
	transition: all 500ms ease-in-out;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	@media #{$md,$sm,$xs,$xxs} {
		gap: 20px;
		padding-right: 15px;
	}
	&:before {
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		content: '';
		opacity: 0;
		visibility: hidden;
		position: absolute;
		transition: all 500ms ease-in-out;
		background: linear-gradient(90deg, rgba(29, 30, 227, 0) 0%, rgba(29, 30, 227, 0) 24.54%, rgba(29, 30, 227, 0.1) 50.26%, rgba(29, 30, 227, 0.2) 74.62%, rgba(29, 30, 227, 0.3) 100%);
	}
	.item-arrow {
		top: 35px;
		left: -50px;
		opacity: 0;
		position: absolute;
		transition: all 500ms ease-in-out;
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
		.arrow {
			opacity: 0.3;
			filter: drop-shadow(0 0 0px #1D1EE3);
			animation: glow 2s infinite ease-in-out;
		}

		.arrow_1 { animation-delay: 0s; }
		.arrow_2 { animation-delay: 0.4s; }
		.arrow_3 { animation-delay: 0.8s; }

	}
	.item-icon-text {
		gap: 22px;
		@media #{$sm,$xs,$xxs} {
			flex-wrap: wrap;
		}
		.item-icon {
			width: 72px;
			height: 72px;
			border-radius: 16px;
			background-color: #1D293E;
			transition: all 500ms ease-in-out;
		}
		.item-text {
			a {
				color: #E5E5E5;
				font-size: 24px;
				max-width: 350px;
				font-weight: 500;
				padding-bottom: 10px;
				font-family: var(--ax-dm);
			}
			p {
				height: 0;
				opacity: 0;
				color: #E5E5E5;
				max-width: 575px;
				transition: all 500ms ease-in-out;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				@media #{$lg} {
					max-width: 450px;
				}
				@media #{$md} {
					max-width: 360px;
				}
			}
		}
	}
	.item-serial {
		color: #fff;
		font-size: 24px;
		font-weight: 600;
	}
	.item-img {
		top: -35px;
		opacity: 0;
		right: 100px;
		position: absolute;
		transform: scale(.5);
		transition: all 600ms ease-in-out;
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
		a {
			top: 50%;
			left: 50%;
			z-index: 1;
			width: 60px;
			height: 60px;
			display: flex;
			font-size: 20px;
			position: absolute;
			align-items: center;
			border-radius: 100%;
			background-color: #fff;
			justify-content: center;
			color: var(--ax-prime-c2);
			transform: translateY(-50%) translateX(-50%) ;
			&:hover {
				color: #fff;
				background-color: var(--ax-prime-c2);
			}
		}
	}
	&:hover,
	&:is(.active) {
		padding-left: 120px;
		@media #{$md,$sm,$xs,$xxs} {
			padding-left: 0;
		}
		&:before {
			opacity: 1;
			height: 100%;
			visibility: visible;
			transition-delay: 300ms;
		}
		.item-arrow {
			left: 0;
			opacity: 1;
		}
		.item-icon-text {
			.item-icon {
				background-color: var(--ax-prime-c2);
			}
			.item-text {
				p {
					opacity: 1;
					height: 48px;
				}
			}
		}
		.item-img {
			opacity: 1;
			right: -100px;
			transform: scale(1);
			@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
				right: 0;
			}
		}
	}
}