.ax-work-p2-sec {
	.ax-sec-title2 {
		margin: 0 auto;
		max-width: 600px;
	}
}

.ax-work-p2-content {
	gap: 30px 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$sm,$xs,$xxs} {
		grid-template-columns:  1fr;
	}
}

.ax-work-p2-item {
	position: relative;
	.inner-item {
		z-index: 1;
		width: 100%;
		height: 100%;
		height: 340px;
		max-width: 340px;
		overflow: hidden;
		padding-top: 32px;
		border-radius: 100%;
		border-bottom: 1px solid #F6F5F2;
		transition: all 500ms ease-in-out;
		background: linear-gradient(180deg, #ECF1F8 0%, rgba(236, 241, 248, 0) 100%);
		@media #{$lg,$md,$sm,$xs,$xxs} {
			margin: 0 auto;
		}
		&:before {
			left: 0;
			right: 0;
			z-index: -1;
			content: '';
			width: 340px;
			bottom: -78%;
			height: 340px;
			margin: 0 auto;
			border-radius: 100%;
			position: absolute;
			background: #ECF1F866;
			border: 1px solid #F6F5F2;
			transition: all 500ms ease-in-out;
		}
		.item-icon {
			width: 90px;
			height: 90px;
			padding: 5px;
			margin: 0 auto;
			position: relative;
			margin-bottom: 24px;
			border-radius: 100%;
			i {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				border-radius: 100%;
				justify-content: center;
				background: linear-gradient(180deg, rgba(29, 30, 227, 0.2) 0%, rgba(29, 30, 227, 0) 49.86%, rgba(29, 30, 227, 0) 100%);
			}
			&:before,
			&:after {
				content: "";
				position: absolute;
				inset: 0;
				padding: 1px;
				border-radius: 100%;
				background: linear-gradient(
					180deg,
					rgba(29, 30, 227, 0.5) 0%,
					rgba(29, 30, 227, 0.1) 16.39%,
					rgba(29, 30, 227, 0) 32.78%
					);
				-webkit-mask: 
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
				mask-composite: exclude;
			}
			&:after {
				transform: rotate(-180deg);
			}
		}

		.item-text {
			margin: 0 auto;
			max-width: 217px;
			transition: all 500ms ease-in-out;
			h3 {
				font-size: 20px;
				font-weight: 500;
				letter-spacing: -1px;
				padding-bottom: 10px;
				font-family: var(--inter);
				transition: all 400ms ease-in-out;
			}
			p {
				transition: all 300ms ease-in-out;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		span {
			left: 0;
			right: 0;
			bottom: 25px;
			font-size: 20px;
			font-weight: 500;
			text-align: center;
			position: absolute;
			letter-spacing: -1px;
			transition: all 400ms ease-in-out;
		}

		&:hover {
			background: var(--ax-prime-c2);
			&:before {
				background: #fff;
				border: 1px solid #E5E5E5;
			}
			.item-text {
				transform: translateY(-50%);
				h3,p {
					color: #fff;
				}
				p {
					-webkit-line-clamp: 3;
				}
			}
		}
	}
	.item-arrow {
		top: 50%;
		right: -32px;
		width: 66px;
		z-index: 2;
		height: 66px;
		position: absolute;
		border-radius: 100%;
		border: 6px solid #FFFFFF;
		background-color: #F2F5FA;
		transform: translateY(-50%);
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
}

.ax-work-bottom-p {
	p {
		padding-bottom: 20px;
		letter-spacing: -.5px;
	}
	.item-video {
		a {
			gap: 12px;
			i {
				color: #fff;
				width: 40px;
				height: 40px;
				display: flex;
				border-radius: 100%;
				align-items: center;
				justify-content: center;
				background-color: var(--ax-prime-c2);
			}
			span {
				font-size: 18px;
				font-weight: 500;
			}
		}
	}
}