/* 
    header-1-start
*/
.as-header-1 {
    &-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }



    &-top {
        background: rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.48);
        backdrop-filter: blur(4px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 8px 28px;

        @media #{$lg,$md,$xs} {
            display: none;
        }

        &-contact  {
            display: flex;
            gap: 48px;
            align-items: center;

            .link-elm {
                font-size: 16px;
                color: rgb(255 255 255 / 80%);
                display: inline-flex;
                align-items: center;
                gap: 9px;
                font-weight: 300;
                transition: var(--as-cube-1);

                i {
                    color: var(--as-clr-sd-1);
                    font-size: 18px;
                }

                &:hover {
                    color: var(--as-clr-sd-1);
                }
            }
        }

        
        &-social {
            display: flex;
            align-items: center;
            gap: 16px;

            .title {
                color: #fff;
                font-size: 16px;
            }

            .link-elm {
                transition: var(--as-cube-1);
                font-size: 16px;
                color: #fff;
                opacity: 72%;

                &:hover {
                    opacity: 1;
                    color: var(--as-clr-sd-1);
                }
            }
        }
        
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        gap: 70px;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.48);
        backdrop-filter: blur(2px);

        @media #{$xxl,$xl,$lg,$md,$xs} {
            gap: 30px;
        }
        
        &-links {
            display: flex;
            align-items: center;

            .as-offcanvas-btn-1 {
                @media #{$over,$xxxl,$xxl,$xl} {
                    display: none;
                }
            }

            .as-header-1-search {
                @media #{$xl,$lg,$md,$xs} {
                    display: none;
                }
            }

            .as-header-1-btn {
                @media #{$xs} {
                    display: none;
                }
                @media #{$sm} {
                    display: inline-flex;
                }
            }
        }
    }
    
    &-logo {
        max-width: 260px;
        width: 100%;
        height: 80px;
        background: rgba(255, 255, 255, 0.28);
        border-right: 1px solid rgba(255, 255, 255, 0.48);
        backdrop-filter: blur(4px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            max-width: 200px;
        }
    }


    &-search {
        display: inline-flex;
        gap: 8px;
        align-items: center;
        border-right: 1px solid rgba(255, 255, 255, 0.48);
        padding: 20px 0;
        max-width: 180px;

        .form-input {
            font-size: 14px;
            background: transparent;
            border: none;
            height: 40px;
            padding: 0px 30px 0px 0px;
            color: rgb(255 255 255 / 60%);
            outline: none;
            width: 100%;
        }

        .form-btn {
            background: transparent;
            color: #fff;
            width: auto;
            height: auto;
            border: navajowhite;
            padding: 0;
            font-size: 18px;
            transition: var(--as-cube-1);

            &:hover {
                color: var(--as-clr-sd-1);
            }
        }
    }

    &-btn {
        display: inline-flex;
        color: #fff;
        background-color: var(--as-clr-pr-1);
        padding: 31px 60px;
        font-size: 16px;
        letter-spacing: 0.02em;
    }
    
}


.as-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 48px;
        justify-content: center;

        @media #{$xxl,$xl} {
            gap: 30px;
        }

        li {

            a {
                position: relative;
                z-index: 1;
                font-family: var(--as-font-2);
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                text-decoration: none;
                color: #fff;
                padding: 28px 0;
                display: inline-flex;
                align-items: center;
                transition: var(--as-cube-1);
            }

            &:is(.dropdown) {
                > a {
                    padding-right: 15px;

                    &::before {
                        display: block;
                        content: "\f107";
                        font-family: "Font Awesome 6 free";
                        font-weight: 700;
                        position: absolute;
                        font-size: 11px;
                        right: 0px;
                        top: 51%;
                        transform: translateY(-50%);
                    }
                }
            }
    
            &:hover {

                > a {
                    color: var(--as-clr-sd-1);
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 10px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                position: absolute;
                background: #fff;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: top;
                transition: var(--as-cube-1);
                border-radius: 0;
                border: none;
            
                li {
                    display: block;
                    margin: 0;
                    transition: var(--sk-cube-1);
    
                    &::after {
                        display: none;
                    }

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        color: var(--as-clr-h-1);
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                display: block;
                                content: "\f107";
                                font-family: "Font Awesome 6 free";
                                font-weight: 700;
                                position: absolute;
                                font-size: 11px;
                                right: 20px;
                                top: 51%;
                                transform: translateY(-50%);
                                opacity: 42%;
                            }
                        }
                    }

                    &:hover {
                        > a {
                            color: var(--as-clr-sd-1);
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}
/* 
    header-1-end
*/