
:root {

  --as-font-1: var(--ax-mona);
  --as-font-2: var(--ax-inter);

  --as-clr-pr-1: var(--ax-prime-c2);

  --as-clr-sd-1: var(--ax-prime-c);

  --as-clr-h-1: #050519;

  --as-clr-p-1: #3E3E3F;


  --as-cube-1: all .4s cubic-bezier(.18,.82,.41,1);

}
$over: "(min-width: 1800px)";
$xxxl: "only screen and (min-width: 1600px) and (max-width: 1799px)";
$xxl: "only screen and (min-width: 1400px) and (max-width: 1599px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xs: "(max-width: 767px)";

