/* 
    about-1-start
*/
.as-about-1 {
    &-area {
        background-color: #F4F4FE;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1.57fr 1fr;
        gap: 60px;
        align-items: start;

        @media #{$xl,$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-content {
        display: flex;
        gap: 40px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .disc {
            margin-bottom: 35px;
        }
    }
    


    &-expri {
        position: relative;
        z-index: 1;
        display: inline-block;
        flex: 0 0 auto;

        &-number {
            display: inline-block;
            font-weight: 600;
            font-size: 260px;
            line-height: .9;

            span {
                &:nth-child(2) {
                    margin-left: -40px;
                }
            }

            &:nth-child(1) {
                span {
                    background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &:nth-child(1) {
                        background-position: top;
                    }

                    &:nth-child(2) {
                        background-size: 50% 100%;
                        background-position: left;
                    }
                }
            }


            &:is(.has-stroke) {
                -webkit-text-stroke: 1px #fff;
                -webkit-text-fill-color: transparent;
                position: absolute;
                top: 0;
                left: 0;
                clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%);
                z-index: -1;
            }
        }



        &-content {
            position: absolute;
            right: 7px;
            top: 27px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 19px;

            .title {
                writing-mode: sideways-lr;
                margin: 0;
                max-height: 100px;
                line-height: 1.2;
                font-weight: 500;
            }
        }
        
    }


    &-fold-scene {
        width: 520px;
        height: 656px;
        position: relative;
        perspective: 1600px;

        @media #{$xs} {
            width: 280px;
            height: 346px;
        }


        .fold {
            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            background-size: 200% 100%;
            background-repeat: no-repeat;
            backface-visibility: hidden;
            border-radius: 16px;
        }
          
        .left {
            background-position: left center;
            transform-origin: right center;
            transform: rotateY(90deg);
            background-size: cover;
        }
          
        .right {
            right: 0;
            background-position: right center;
            transform-origin: left center;
            transform: rotateY(-90deg);
            background-size: cover;

        }

        &-line {
            position: absolute;
            top: -1px;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;

            * {
                fill: #F4F4FE;
            }
        } 
    }

    &-progress {
        position: absolute;
        width: 211px;
        background: radial-gradient(50% 50% at 50% 50%, #E9E6FF 30.77%, #AEA5FE 100%);
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        padding: 12px 15px;
        top: 52px;
        right: -85px;

        @media #{$xl,$lg,$md,$xs} {
            right: 0;
        }

        .title {
            font-size: 14px;
            color: #fff;
            margin-bottom: 0;
        }

        .number {
            font-size: 32px;
            font-weight: 500;
            color: #050519;
            margin-bottom: -24px;
        }
    }


    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;

        li {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--as-clr-h-1);

            i {
                color: var(--as-clr-pr-1);
            }
        }
    }


    &-list-x-features {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        gap: 50px;
        z-index: 2;
        align-items: end;

        @media #{$xl,$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }

    }
    

    &-features {
        margin-right: -230px;
        display: flex;
        @media #{$md} {
            margin-right: 0px;
        }
        @media #{$xs} {
            flex-direction: column;
            gap: 30px;
            margin-right: 0px;
        }

        &-item {
            position: relative;
            z-index: 1;
            background-color: #fff;
            overflow: hidden;
            border-radius: 10px;
            width: 70px;
            transition: var(--as-cube-1);

            &:hover {
                &:not(.active) {
                    transform: scaleX(1.05);
                    transform-origin: left;
                }
            }

            .content-wrap {
                max-width: 500px;
                width: max-content;
                padding: 35px 40px;
                transition: var(--as-cube-1);
                transition-delay: 0s;
                opacity: 0;

                @media #{$xs} {
                    max-width: auto;
                    width: auto;
                }
            }
            .item-btn {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 24px 22px;
                border-radius: 10px;
                transition: var(--as-cube-1);
                cursor: pointer;


            }

            .btn-title {
                writing-mode: sideways-lr;
                font-size: 15px;
                margin: 0;
                letter-spacing: 0.08em;
            }

                        
            .btn-icon {
                font-size: 28px;
            }
    


            .bg-favicon {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
                transition: var(--as-cube-1);
                transition-delay: 0s;
                opacity: 0;
            }

            .title-x-icon {
                display: flex;
                align-items: end;
                justify-content: space-between;
                margin-bottom: 14px;


                .left {
                    max-width: 216px;
                    width: 100%;
                }

                .icon {
                    font-size: 34px;
                    margin-bottom: -3px;
                }
            }

            .title {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .left-line {
                display: flex;
                align-items: center;

                i {
                    color: var(--as-clr-pr-1);
                    font-size: 20px;
                }


                .line {
                    height: 1px;
                    width: 100%;
                    background-color: #050519;
                    opacity: 16%;
                    margin-left: -14px;
                }
                
            }

            .disc {
                font-size: 16px;
            }

            &:not(:first-child) {
                margin-left: -15px;

                @media #{$xs} {
                    margin-left: 0px;
                }
            }

            &:nth-child(1) {
                z-index: 3;
            }

            &:nth-child(2) {
                z-index: 2;
            }

            &:is(.has-clr-1) {
                background-color: #B8AFFF;

                .btn-icon {
                    color: var(--as-clr-h-1);
                }

                .bg-favicon {
                    img {
                        opacity: 20%;
                    }
                }
            }

            &:is(.has-clr-2) {
                background-color: #3E3E3F;

                .btn-icon {
                    color: rgb(255 255 255 / 75%);
                }

                .btn-title {
                    color: rgb(255 255 255 / 75%);
                }

                .title , .icon {
                    color: #fff;
                }

                .left-line .line {
                    background-color: #fff;
                    opacity: 46%;
                }

                .left-line i {
                    color: var(--as-clr-sd-1);
                }

                .disc {
                    color: #fff;
                }

                .bg-favicon {
                    img {
                        opacity: 20%;
                    }
                }
            }

            &:is(.active) {
                width: 500px;
                .content-wrap {
                    opacity: 1;
                    transition-delay: .2s;
                }
                .item-btn {
                    opacity: 0;
                }
                .bg-favicon {
                    opacity: 1;
                    transition-delay: .2s;
                }

                @media #{$xs} {
                    max-width: 100%;
                    width: 100%;
                }
            }

            &:not(.active) {
                @media #{$xs} {
                    max-width: 500px;
                    width: 100%;
                    .content-wrap {
                        opacity: 1;
                        transition-delay: .2s;
                    }
                    .item-btn {
                        opacity: 0;
                    }
                    .bg-favicon {
                        opacity: 1;
                        transition-delay: .2s;
                    }
                }

            }


        }
        
    }

    &-bg-shape {
        position: absolute;
        bottom: 0px;
        right: -220px;
        z-index: -1;
        width: 25%;
    }

    
    
}
/* 
    about-1-end
*/
/* 
    about-2-start
*/
.as-about-2 {
    &-subtitle {
        margin-bottom: 95px;
    }
    &-wrap {
        max-width: 1260px;
        margin-left: auto;
        display: grid;
        gap: 90px;
        grid-template-columns: 1fr 1.05fr;

        @media #{$xl,$lg} {
            gap: 50px;
        }

        @media #{$md,$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
        }
    }



    &-img {
        height: 742px;
        border-radius: 16px;

        @media #{$xs} {
            height: auto;
        }
    }

    &-sec-title {
        .sec-disc {
            margin-top: 22px;
        }
    }

    &-right-line {
        width: 100%;
        height: 1px;
        background: rgb(29 30 227 / 16%);
        position: relative;
        z-index: 1;
        transform-origin: left;

        &::after {
            content: "";
            width: 9px;
            height: 9px;
            position: absolute;
            top: -4px;
            left: 0;
            border-radius: 50%;
            background: var(--as-clr-pr-1);
            outline: 4px solid rgb(29 30 227 / 16%);
        }
        
        &::before {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0px;
            left: 100%;
            border-radius: 50%;
            background: rgb(29 30 227 / 16%);
        }
    }

    &-features {
        display: flex;
        flex-direction: column;
        gap: 26px;

        &-single {
            display: flex;
            gap: 24px;

            .icon-elm {
                width: 60px;
                height: 60px;
                background-color: #fff;
                flex: 0 0 auto;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.12);
            }

            .title {
                font-size: 22px;
                margin-bottom: 13px;
            }
        }
    }
    
    
}

/* 
    about-2-end
*/



