/* 
    achieve-1-start
*/
.as-achieve-1 {
    &-area {
        background-color: #F5F5F5;

        &::after {
            content: "";
            width: 100%;
            position: absolute;
            height: 245px;
            background: linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 100%);
            bottom: 100%;
            left: 0;
            z-index: -1;
        }
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &-wrap {
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 1.82fr 1fr;
        margin-left: -134px;
        margin-right: -134px;
        align-items: start;

        @media #{$xxxl,$xxl} {
            margin-left: 0px;
            margin-right: 0px;
        }

        @media #{$xl,$lg} {
            margin-left: 0px;
            margin-right: 0px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
            grid-template-columns: 1fr;
        }
    }

    &-wrap-2 {
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 2.85fr;
        margin-left: -134px;
        margin-right: -134px;
        align-items: start;
        margin-top: 12px;

        @media #{$xxxl,$xxl,$xl,$lg} {
            margin-left: 0px;
            margin-right: 0px;
        }

        @media #{$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
            grid-template-columns: 1fr;
        }

        &-right {
            &-top {
                display: grid;
                gap: 12px;
                grid-template-columns: 1fr 1.82fr;
                align-items: start;
                margin-bottom: 12px;

                @media #{$lg,$md,$xs} {
                    grid-template-columns: 1fr;
                }
            }
            
        }
    }

    &-exp {
        background-color: #fff;
        border-radius: 8px;
        padding: 12px;

        .img-elm {
            height: 138px;
            border-radius: 8px;
        }

        .content-wrap {
            padding: 24px 24px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                padding: 24px 10px;
            }
        }
        
        .number {
            font-size: 72px;
            line-height: 1;

            .plus {
                color: #DFDFE1;
                display: inline-block;
                transform: translateY(4px);
            }
        }
        
        .number-x-title {
            margin-top: -11px;
            display: flex;
            align-items: center;
            gap: 15px;
            border-bottom: 1px solid #D9D9D9;
            padding-bottom: 27px;
            margin-bottom: 65px;
        }
        
        
        .title {
            font-size: 18px;
            font-weight: 400;
        }
    }

    &-projects {
        background-color: var(--as-clr-h-1);
        position: relative;
        z-index: 1;
        padding: 35px 40px;
        border-radius: 8px;
        overflow: hidden;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            padding: 35px 20px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: radial-gradient(50% 50% at 53.06% 50%, #1D1EE3 0%, rgba(29, 30, 227, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            opacity: 0.4;
            z-index: -1;
        }
        
        .number {
            font-size: 96px;
            font-weight: 700;
            color: var(--as-clr-sd-1);
            line-height: 1;
            margin-top: -20px;
            margin-bottom: 57px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                margin-bottom: 30px;
            }
            .plus {
                font-size: 55px;
                transform: translateY(-28px);
            }
        }

        .img-x-content {
            display: grid;
            gap: 28px;
            grid-template-columns: 1.98fr 1fr;

            @media #{$xxl,$xl,$lg,$md} {
                grid-template-columns: 1fr 1fr;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
            }

            @media #{$sm} {
                grid-template-columns: 1fr 1fr;
            }
        }

        
        .img-elm {
            display: flex;
            align-items: end;
            justify-content: end;
            overflow: hidden;
            gap: 18px;

            &-single {
                position: relative;
                z-index: 1;

                &::after {
                    content: "";
                    width: 339px;
                    height: 1px;
                    right: 0;
                    top: 0;
                    background: #fff;
                    position: absolute;
                    opacity: .7;
                }



                &-clr {
                    max-width: 100px;
                    width: 100%;
                    height: 240px;
                    background: linear-gradient(270deg, #4D72FF 0%, #D0DAFF 100%);
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: "";
                        width: 449px;
                        height: 1px;
                        right: 0;
                        top: 0;
                        background: #fff;
                        position: absolute;
                        opacity: .7;
                    }
                }
                
            }
        }
        
        .title {
            font-size: 22px;
            color: #fff;
            margin-bottom: 76px;
        }
        
        .disc {
            color: #fff;
            letter-spacing: -0.01em;
        }
    }

    &-review {
        background-color: #fff;
        border-radius: 8px;
        padding: 30px 32px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            padding: 30px 22px;
        }

        .title-x-rating {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 20px;
        }

        .title {
            font-size: 20px;
        }

        .rating-elm {
            &-icon {
                background-color: rgb(102 102 102 / 12%);
                font-size: 12px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                gap: 3px;
                color: #000;
                padding: 6px 13px;
                margin-bottom: 7px;
            }

            &-text {
                font-size: 44px;
            }
            
        }

        .big-number {
            text-align: center;
            font-size: 308px;
            background: linear-gradient(180deg, #D7D7D7 0%, #FEFEFE 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            line-height: .7;
            margin-bottom: -30px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 112px;
            }
        }

        .dvr-line {
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, #1D1EE3 0%, rgba(29, 30, 227, 0) 100%);
            position: relative;
            z-index: 1;
            margin-bottom: 31px;

            &::after {
                content: "";
                width: 11px;
                height: 11px;
                position: absolute;
                top: -5px;
                left: -1px;
                background-color: var(--as-clr-pr-1);
                border-radius: 50%;
            }
        }
    }

    &-award {
        background-color: #7F75FC;
        border-radius: 8px;
        padding: 36px 36px;
        min-height: 528px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            padding: 36px 20px;
        }

        .title {
            font-size: 22px;
            color: #fff;
            margin-bottom: 16px;
        }

        .disc {
            color: #fff;
            opacity: 80%;
            margin-bottom: 100px;
        }
        .number {
            font-size: 108px;
            color: #fff;
            font-weight: 600;
            line-height: .7;
        }


        .bg-shape-1 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -2;
        }
        
        .bg-shape-2 {
            position: absolute;
            bottom: -310px;
            right: -140px;
            z-index: -1;
        }
    }
    
    &-support {
        position: relative;
        z-index: 1;
        padding: 30px 36px;
        border: 6px solid #E5E5FF;
        border-radius: 8px;
        min-height: 396px;


        &::after {
            content: "";
            position: absolute;
            width: 119px;
            height: 119px;
            background: #55D7EA;
            filter: blur(82px);
            z-index: -3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .content-wrap {
            text-align: right;
        }

        .title {
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 10px;
        }


        .shape-1 {
            width: 58%;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: -2;
        }
        
        .shape-2 {
            position: absolute;
            bottom: 105px;
            left: 36px;
            width: 44%;
            z-index: -1;
        }
        
        .shape-3 {
            position: absolute;
            right: 36px;
            bottom: 36px;
            z-index: -1;
            width: 60%;
        }
    }
    

    &-team {
        background-color: var(--as-clr-h-1);
        border-radius: 8px;
        padding: 40px 40px;
        min-height: 396px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media #{$xs} {
            min-height: 506px;
        }

        @media #{$sm} {
            min-height: 396px;
        }

        .content-wrap {
            display: flex;
            align-items: end;
            gap: 20px;
            flex-wrap: wrap;
        }

        .number {
            font-size: 88px;
            line-height: 1;
            color: #fff;

            .plus {
                opacity: 50%;
            }
            
        }
        .disc {
            color: #fff;
            font-weight: 500;
            margin-bottom: 16px;
        }

        &-member {
            width: 100%;
            height: 150%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            transform: translateY(-33.5%);
            overflow: hidden;
    
            
            &-single {
                position: absolute;
                user-select: none;
                display: flex;
                padding: 4px;
                padding-right: 20px;
                gap: 8px;
                background-color: var(--as-clr-sd-1);
                align-items: center;
                border-radius: 200px;
                flex: 0 0 auto;
                transform: translate(-50%, -50%);
    
                .img-elm {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    flex: 0 0 auto;
                }
                .name {
                    flex: 0 0 auto;
                    color: var(--as-clr-h-1);
                    font-weight: 500;
                }

                &:nth-child(2) {
                    background-color: #FDCD8C;
                }

                &:nth-child(3) {
                    background-color: #55D7EA;
                }

                &:nth-child(4) {
                    background-color: #BBC0D3;
                }

                &:nth-child(5) {
                    background-color: #ECFF97;
                }
                &:nth-child(6) {
                    background-color: #FFA2DD;
                }
                &:nth-child(7) {
                    background-color: #FFC0B5;
                }
                &:nth-child(8) {
                    background-color: #fff;
                }
            }

        }
    
    }


    &-client {
        background-color: var(--as-clr-h-1);
        border-radius: 8px;
        padding: 30px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media #{$xs} {
            flex-wrap: wrap;
            gap: 30px;
        }

        &-marquee {
            max-width: 720px;
            mask-size: 100%;
            margin-bottom: -10px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                max-width: 310px;
            }
        }

        &-img {
            display: flex;
            gap: 8px;

            .single-img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                border: 2px solid rgb(255 255 255 / 20%);
            }
            
        }


        &-rating {
            flex: 0 0 auto;
            .rating-icon {
                display: flex;
                font-size: 16px;
                gap: 4px;
                color: #FF9F19;
                margin-bottom: 13px;
            }

            .rating-text {
                color: #fff;
            }
        }

        &-projects {
            color: rgb(255 255 255 / 80%);
            display: flex;
            align-items: center;
            gap: 13px;
            flex: 0 0 auto;

            i {
                color: #fff;
                font-size: 28px;
            }
        }
    }
    
    
}


/* 
    achieve-1-end
*/


/* 
    achieve-2-start
*/

.as-achieve-2 {
    &-wrap {
        display: grid;
        gap: 12px;
        grid-template-columns: .72fr 1fr 1fr;
    }
    
    &-client {
        border: 8px solid #fff;
        border-radius: 12px;
        text-align: center;
        background-color: var(--as-clr-h-1);
        padding: 35px 32px;

        .disc {
            color: #fff;
            opacity: 80%;
        }

        .number {
            font-size: 80px;
            color: #fff;
            font-weight: 800;
            line-height: 1;
            opacity: 20%;
        }

        .title {
            font-size: 24px;
            color: #fff;
            margin-top: -11px;
            margin-bottom: 42px;
        }

        .hr-line {
            background: radial-gradient(50% 50% at 50% 50%, #8267F8 0%, rgba(77, 61, 146, 0) 100%);
            height: 2px;
            width: 100%;
            margin-bottom: 45px;
        }
        

        .author-img {
            display: inline-flex;
            margin-bottom: 20px;
        }

        
        .author-img-single {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: 2px solid #1A0C35;
        }
    }
}




/* 
    achieve-2-end
*/

