/* 
    award-2-start
*/
.as-award-2 {
    &-area {
        &::after {
            content: "";
            width: 100%;
            height: 840px;
            background: var(--as-clr-h-1);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            
            @media #{$md,$xs} {
                height: 500px;
            }
        }
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 50px;
        width: 84%;
        height: 840px;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        z-index: -1;

        @media #{$md,$xs} {
            height: 500px;
        }
    }

    &-title {
        color: #fff;
        line-height: 1.066;
        font-weight: 600;
        font-size: 60px;
        margin-right: -160px;
        max-width: 630px;
        display: inline-block;
        margin-bottom: 207px;

        @media #{$xxxl} {
            margin-right: 0px;
        }

        @media #{$xxl} {
            margin-right: 0px;
            font-size: 52px;
        }

        @media #{$xl} {
            margin-right: 0px;
            font-size: 46px;
        }

        @media #{$lg} {
            margin-right: 0px;
            font-size: 42px;
        }

        @media #{$md} {
            margin-right: 0px;
            font-size: 38px;
        }

        @media #{$xs} {
            margin-right: 0px;
            font-size: 30px;
        }

        @media #{$sm} {
            margin-right: 0px;
            font-size: 34px;
        }
    }

    &-subtitle {
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        position: relative;
        z-index: 1;
        display: inline-block;

        &::after {
            content: "";
            width: 4px;
            height: 4px;
            background: #fff;
            position: absolute;
            top: 6px;
            left: -12px;
            border-radius: 50%;
        }

        &::before {
            content: "";
            width: 4px;
            height: 4px;
            background: #fff;
            position: absolute;
            top: 6px;
            right: -12px;
            border-radius: 50%;
        }
    }
    

    &-wrap {
        background-color: var(--as-clr-pr-1);
        border-radius: 20px 0 0 20px;
        padding: 75px 80px;
        margin-right: -256px;
        max-width: 1272px;
        margin-left: auto;

        @media #{$xxxl,$xxl,$xl} {
            margin-right: 0px;
            border-radius: 20px;
        }

        @media #{$lg,$md,$xs} {
            margin-right: 0px;
            border-radius: 20px;
            padding: 75px 30px;
        }

        .inner-div {
            display: grid;
            grid-template-columns: 2.6fr 1fr;
            gap: 60px;
            align-items: center;

            @media #{$md,$xs} {
                grid-template-columns: 1fr;
            }
        }
    }

    &-tabs {
        &-btn {
            li {
                border-bottom: 1px solid rgb(217 217 217 / 32%);

                &:nth-child(1) {
                    border-top: 1px solid rgb(217 217 217 / 32%);
                }
            }

            .nav-link {
                border: none;
                background: transparent;
                color: #fff;
                font-size: 22px;
                display: flex;
                gap: 64px;
                align-items: center;
                padding: 24px 0;
                transition: var(--as-cube-1);
                width: 100%;
                text-align: left;

                @media #{$lg,$md,$xs} {
                    gap: 15px;
                }

                span {
                    opacity: 72%;
                    font-size: 18px;
                    transition: var(--as-cube-1);
                }

                &:is(.active) {
                    background-color: #fff;
                    color: var(--as-clr-h-1);
                    padding: 24px 0;
                    padding-left: 26px;

                    span {
                        opacity: 1;
                    }
                }
            }
        }
        
        
        &-pane {
            height: 332px;
            background: rgb(242 241 246 / 10%);
            border-radius: 8px;

            .tab-pane {
                height: 100%;
            }
            

            &-img {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}



/* 
    award-2-end
*/