/* 
    blog-1-start
*/
.as-blog-1 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 28px;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        position: relative;
        z-index: 1;

        .img-elm {
            height: 512px;
            border-radius: 8px;
            
            img {
                transition: 4s;
            }
        }

        .item-date {
            position: absolute;
            top: 24px;
            left: 24px;
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: var(--as-clr-h-1);
            color: #fff;
            border-radius: 8px;
            gap: 10px;
            padding-top: 10px;

            span {
                &:nth-child(1) {
                    font-size: 34px;
                    font-weight: 600;
                }
                &:nth-child(2) {
                    font-size: 12px;
                    background-color: rgb(255 255 255 / 80%);
                    color: var(--as-clr-h-1);
                    border-radius: 8px;
                    padding: 5px 14px;
                }
            }
        }

             
        .init-content {
            max-width: 368px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -20px;
            transition: var(--as-cube-1);
        }


        .categories {
            font-size: 15px;
            color: var(--as-clr-pr-1);
            background-color: #D5D0FF;
            display: inline-block;
            border-radius: 6px;
            padding: 8px 22px;
            margin-bottom: 20px;
        }
        
        .title {
            font-size: 22px;
            padding-left: 16px;
            position: relative;
            z-index: 1;


            &::after {
                content: "";
                width: 2px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: radial-gradient(50% 50% at 50% 50%, #1D1EE3 0%, #FFFFFF 100%);
            }

            a {
                transition: var(--as-cube-1);

                &:hover {
                    color: var(--as-clr-pr-1);
                }
            }

        }
        
   
        .hover-content {
            position: absolute;
            bottom: 0;
            left: 24px;
            width: calc(100% - 48px);
            background-color: rgb(244 244 251 / 52%);
            border-radius: 10px;
            backdrop-filter: blur(6px);
            padding: 20px;
            z-index: 1;
            transition: var(--as-cube-1);
            transform: translateY(10%);
            opacity: 0;

            .title {
                margin-bottom: 20px;
            }
        }

        .disc {
            margin-bottom: 35px;
        }


        .item-btn {
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            transition: var(--as-cube-1);

            .icon {
                width: 40px;
                height: 40px;
                background-color: var(--as-clr-pr-1);
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: 18px;
                flex: 0 0 auto;
                transition: var(--as-cube-1);
            }

            .line {
                width: 100%;
                height: 1px;
                background-color: var(--as-clr-pr-1);
            }

            .text {
                flex: 0 0 auto;
            }

            &:hover {
                color: var(--as-clr-pr-1);

                .icon {
                    transform: rotate(45deg);
                }
            }
        }
        

        &:hover {
            .init-content {
                transform: translateY(-100%);
                opacity: 0;
            }
            .hover-content {
                transform: translateY(0);
                opacity: 1;
                transition-delay: .1s;
            }

            .img-elm {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &-all-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .dvr-line {
            background-color: #D9D9D9;
            width: 100%;
            height: 1px;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 11px;
                height: 11px;
                background-color: var(--as-clr-pr-1);
                outline: 4px solid rgb(29 30 227 / 8%);
                position: absolute;
                right: 0;
                top: -5px;
                border-radius: 50%;
            }

            &:is(.has-left) {
                &::after {
                    right: unset;
                    left: 0;
                }
            }
        }

        .as-pr-btn-1 {
            flex: 0 0 auto;
        }
    }
    
}


/* 
    blog-1-end
*/