/*
    05. button
*/


/* 
    button-start
*/

.as-offcanvas-btn-1 {
    width: 80px;
    height: 80px;
    font-size: 24px;
    background: var(--as-clr-sd-1);
    color: var(--as-clr-h-1);
    border: none;
}



.as-pr-btn-1 {
    font-family: var(--as-font-1);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    padding: 4px 0;
    padding-left: 25px;
    position: relative;
    z-index: 1;
    color: #fff;

    &::after {
        content: "";
        width: calc(100% - 36px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--as-clr-pr-1);
        border-radius: 200px;
        z-index: -1;
        transition: var(--as-cube-1);

    }

    .icon {
        width: 48px;
        height: 48px;
        background: #FFFFFF;
        box-shadow: inset 0px 0px 5px var(--as-clr-pr-1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 20px;
        color: var(--as-clr-pr-1);
        transition: var(--as-cube-1);
        outline: 4px solid var(--as-clr-pr-1);
        transition: var(--as-cube-1);
    }

    &:hover {
        color: #fff;

        &::after {
            width: calc(100% - 0px);
        }

        .icon {
            transform: rotate(45deg);
            background-color: var(--as-clr-sd-1);
            color: #000;
        }
    }

    &:is(.has-dark) {
        &::after {
            background-color: var(--as-clr-h-1);
        }
        .icon {
            outline-color: var(--as-clr-h-1);
            color: var(--as-clr-h-1);
        }

        &:hover {
            &::after {
                background-color: var(--as-clr-pr-1);
            }
            .icon {
                outline-color: var(--as-clr-pr-1);
            }
    
        }
    }

    &:is(.has-white) {
        color: var(--as-clr-h-1);
        &::after {
            background-color: #F3F3F3;
        }
        .icon {
            outline-color: var(--as-clr-h-1);
            color: var(--as-clr-h-1);
            box-shadow: inset 0px 0px 5px #050519;
        }

        &:hover {
            color: #fff;
            &::after {
                background-color: var(--as-clr-pr-1);
            }
            .icon {
                outline-color: var(--as-clr-pr-1);
            }
    
        }
    }

    &:is(.has-border) {
        color: var(--as-clr-h-1);

        &::after {
            background-color: transparent;
            border: 2px solid var(--as-clr-h-1);
        }

        .icon {
            outline-color: var(--as-clr-h-1);
            color: var(--as-clr-h-1);
            box-shadow: inset 0px 0px 5px #050519;
        }

        &:hover {
            color: #fff;
            &::after {
                background-color: var(--as-clr-pr-1);
                border-color: transparent;
            }
            .icon {
                outline-color: var(--as-clr-pr-1);
            }
    
        }
    }

    
}


.as-pr-btn-2 {
    font-family: var(--as-font-1);
    background-color: #5758EA;
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
    border-radius: 8px;
    padding: 16px 25px;
    position: relative;
    z-index: 1;
    transition: var(--as-cube-1);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--as-clr-pr-1);
        z-index: -1;
        border-radius: 8px 36px;
        transition: var(--as-cube-1);
    }

    &:hover {
        color: #fff;

        &::after {
            border-radius: 36px 8px ;
        }
    }
}



.as-plybtn-1 {
    font-size: 16px;
    color: #fff;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    transition: var(--as-cube-1);

    &:hover {
        color: var(--as-clr-sd-1);
    }
}

.as-plybtn-2 {
    display: inline-flex;
    max-width: 190px;
    height: 190px;
    width: 100%;
    flex-direction: column;
    text-align: right;
    align-items: center;
    gap: 4px;
    position: relative;
    z-index: 1;

    .icon-elm {
        display: inline-flex;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        background-color: var(--as-clr-h-1);
        color: #fff;
        border-radius: 50%;
        font-size: 24px;
        align-self: end;
        outline: 8px solid #fff;
        transition: var(--as-cube-1);
    }

    .text {
        text-align: center;
        font-size: 22px;
        color: var(--as-clr-h-1);
        line-height: 1.3;
        transition: var(--as-cube-1);
    }

    .circle-elm-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid var(--as-clr-h-1);
        border-radius: 50%;
        opacity: 24%;
        z-index: -1;
        transition: var(--as-cube-1);
    }

    .circle-elm-2 {
        position: absolute;
        top: 20px;
        left: -10px;
        width: 100%;
        height: 100%;
        border: 1px solid var(--as-clr-h-1);
        border-radius: 50%;
        opacity: 24%;
        z-index: -1;
        transition: var(--as-cube-1);
        animation: plybtn2circle 10s linear infinite;
    }

    &:hover {
        .text {
            color: var(--as-clr-pr-1);
        }
        .icon-elm {
            background: var(--as-clr-pr-1);
        }
        .circle-elm-1, .circle-elm-2 {
            border-color: var(--as-clr-pr-1);
        }
    }
    
}

@keyframes plybtn2circle {
    0% {
        transform: translate(0px, -20px);
    }
    25% {
        transform: translate(20px, -20px);
    }
    50% {
        transform: translate(20px, 0px);
    }
    75% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, -20px);
    }
}
/* 
    button-end
*/