/* 
    contact-1-start
*/
.as-contact-1 {
    &-area {
        min-height: 920px;

        &:hover {
            .as-contact-1-bg-img {
                img {
                    transform: scale(1.1);
                }
            }

        }
    }
    

    &-bg-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 800px;

        img {
            transition: 10s;
        }


    }
    

    &-wrap {
        background: rgba(244, 244, 251, 0.6);
        backdrop-filter: blur(9px);
        border-radius: 12px;
        padding: 28px 28px;
        display: grid;
        gap: 70px;
        grid-template-columns: 1fr 1.05fr;
        align-items: center;

        @media #{$xl} {
            gap: 50px;
        }

        @media #{$lg,$md} {
            gap: 50px;
            grid-template-columns: 1fr;
        }

        @media #{$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
            padding: 28px 12px;
        }

        @media #{$sm} {
            gap: 50px;
            grid-template-columns: 1fr;
            padding: 28px 28px;
        }
    }

    &-left {
        padding: 32px;
        padding-right: 0;

        @media #{$xl,$lg,$md,$xs} {
            padding: 32px 0px;
            padding-right: 0;
        }
    }

    &-sec-title {
        margin-bottom: 130px;

        .as-sec-title-1 {
            margin-bottom: 24px;
        }
    }

    &-info {
        display: flex;
        align-items: center;
        gap: 32px;
        flex-wrap: wrap;

        .icon-elm {
            width: 64px;
            height: 64px;
            background-color: var(--as-clr-pr-1);
            color: #fff;
            font-size: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        .link-elm {
            color: var(--as-clr-h-1);
            transition: var(--as-cube-1);

            &:hover {
                color: var(--as-clr-pr-1);
            }
        }
        

        .content-wrap {
            display: flex;
            flex-direction: column;
            padding-left: 32px;
            border-left: 1px solid #fff;
            gap: 6px;
        }
    }
    
    


    
    &-form {
        border-radius: 16px;
        background-color: #fff;
        padding: 40px 40px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 22px 20px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        &-label {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 11px;
        }

        &-input {
            height: 50px;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgb(5 5 25 / 22%);
            color: rgba(0, 0, 0, 0.6);
            font-size: 18px;


            &:is(textarea) {
                height: 80px;
                padding-top: 0;
                display: block;
            }
        }

        &-btn {
            border: none;
            outline: none;
            background: transparent;
        }


        .input-box.has-full-width {
            grid-column-end: -1;
            grid-column-start: 1;
        }
    }
}
/* 
    contact-1-end
*/
/* 
    contact-2-start
*/
.as-contact-2 {
    &-area {
        background-color: var(--as-clr-h-1);
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 302px;
        z-index: -1;
    }

    &-wrap {
        display: grid;
        gap: 90px;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @media #{$xl} {
            gap: 50px;
        }

        @media #{$lg,$md,$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
        }

        .as-contact-1-form-btn {
            background-color: #5758EA;
        }
    }

    &-sec-title {
        margin-top: 60px;
        margin-bottom: 115px;

        .as-sec-title-1 {
            font-weight: 700;
            color: #fff;
            margin-bottom: 65px;
        }

        .sec-disc {
            color: #fff;
            opacity: 80%;
            max-width: 560px;
        }
    }

    &-info {
        display: flex;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        &-item {
            display: flex;
            gap: 12px;

            .content-wrap {
                margin-top: 12px;
            }
            

            .icon-elm {
                width: 48px;
                height: 48px;
                background-color: rgb(255 255 255 / 10%);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                color: var(--as-clr-sd-1);
                flex: 0 0 auto;
            }

            .title {
                font-size: 22px;
                font-weight: 500;
                color: #fff;
                margin-bottom: 19px;
            }

            .link-elm {
                color: #fff;
                opacity: 80%;
                transition: var(--as-cube-1);

                &:hover {
                    color: var(--as-clr-sd-1);
                    opacity: 1;
                }
            }
        }
    }
}




/* 
    contact-2-end
*/