/* 
    counter-2-start
*/
.as-counter-2 {
    &-area {
        background-color: var(--as-clr-h-1);
        position: relative;
        z-index: 1;
        border-radius: 40px 40px 0 0;
    }

    &-bg-glow {
        position: absolute;
        right: 0;
        top: 0;
        width: 63%;
        z-index: -1;
    }

    &-wrap {
        display: grid;
        gap: 64px;
        grid-template-columns: 1fr 2fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-img {
        height: 542px;
        border-radius: 20px;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }


    &-right {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        
        .inner-div {
            display: grid;
            gap: 48px;
            grid-template-columns: 1fr 1fr;

            @media #{$xl,$lg,$md,$xs} {
                grid-template-columns: 1fr;
            }
        }
        
        .inner-div-2 {
            max-width: 640px;
            margin-left: auto;
            width: 100%;

            .as-counter-2-item .disc {
                max-width: 260px;
            }
        }
        
        .inner-div-3 {
            max-width: 830px;
            margin-left: auto;
            width: 100%;

            .as-counter-2-item .disc {
                max-width: 260px;
            }

            .as-counter-2-item .number-x-disc {
                justify-content: start;
                gap: 200px;

                @media #{$lg,$md,$xs} {
                    gap: 50px;
                }
            }
        }
    }

    &-item {
        .title {
            color: #fff;
            border-bottom: 1px dashed rgb(255 255 255 / 48%);
            font-size: 24px;
            padding-bottom: 18px;
            margin-bottom: 15px;
        }

        .number-x-disc {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            @media #{$xs} {
                flex-wrap: wrap;
            }

            @media #{$sm} {
                flex-wrap: nowrap;
            }
        }
        

        .disc {
            color: #fff;
            font-size: 16px;
            max-width: 210px;
            opacity: 80%;
        }

        .number {
            color: #fff;
            font-size: 80px;
            font-weight: 600;
            line-height: 1;
            margin-top: -10px;
            display: flex;
            align-items: center;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 60px;
            }

            .plus {
                color: var(--as-clr-sd-1);
                font-size: 40px;
                transform: translateY(-15px);
            }

            .odometer {
                transform: translateY(5px);
            }
        }

    }
}

/* 
    counter-2-end
*/