/* 
    faqs-1-start
*/


.as-accordion-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-item {
        width: 100%;
        background-color: #fff;
        z-index: 1;
        overflow: hidden;
        border-radius: 8px;
        transition: var(--as-cube-1);

        .item-title {
            font-size: 20px;
            font-weight: 400;
            background: transparent;
            border: none;
            outline: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 25px;
            text-align: left;
            transition: var(--as-cube-1);
            padding: 29px 30px;

            .icon {
                transition: var(--as-cube-1);
                font-size: 16px;
                opacity: 32%;
            }
            
    
            &:is(:not(.collapsed)) {
                color: #fff;
                .icon {
                    color: var(--as-clr-sd-1);
                    opacity: 1;
                }
            }

            &:is(.collapsed) {

            }


            &:hover {
                
            }


        }
        
        .item-disc {
            padding: 30px 30px;
            padding-top: 0;
            color: #fff;
            opacity: 80%;
        }


        &:is(.active) {
            background-color: var(--as-clr-h-1);
        }

    }
    
}



.as-faqs-1 {

    &-area {
        @media #{$xl,$lg} {
            padding-top: 100px;
        }
        @media #{$md,$xs} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    &-bg-img {
        background: linear-gradient(180deg, #F4F4FB 0%, #E3E3FF 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 120px);
        z-index: -1;


        @media #{$xl,$lg,$md,$xs} {
            height: 100%;
        }

        &-svg {
            position: absolute;
            top: 50%;
            left: 48%;
            transform: translate(-50%, -50%);
            width: 43%;

            g {
                circle {
                    transform-origin: center;
                    animation: as-faqs-1-bg-img-svg-kf 10s linear infinite;
                    &:nth-child(1) {
                        animation-delay: .2s;
                    }
                    &:nth-child(2) {
                        animation-delay: .4s;
                    }
                    &:nth-child(3) {
                        animation-delay: .6s;
                    }
                    &:nth-child(4) {
                        animation-delay: .8s;
                    }
                }
            }
        }
    }

    &-big-title {
        font-size: 160px;
        font-weight: 600;
        opacity: 12%;
        margin-bottom: -45px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            font-size: 100px;
            margin-bottom: -28px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 35px;
        align-items: center;

        @media #{$xl,$lg} {
            grid-template-columns: 1.2fr 1fr;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-testimonial {
        display: flex;
        align-items: center;

        @media #{$xl,$lg,$md,$xs} {
            flex-wrap: wrap;
            gap: 50px;
        }

        .down-arorw {
            display: block;
            margin-left: 48px;
        }

        .img-elm {
            max-width: 588px;
            img {
                @media #{$over,$xxxl,$xxl} {
                    max-width: min-content;
                }
            }
        }


        .icon-elm {
            font-size: 40px;
            color: var(--as-clr-pr-1);
            line-height: 1;
            margin-bottom: 14px;
        }
        

        .comment {
            font-size: 20px;
            color: var(--as-clr-h-1);
            margin-bottom: 12px;
            margin-right: -30px;
        }

        .content-wrap {
            margin-bottom: -160px;


            @media #{$xl,$lg,$md,$xs} {
                margin-bottom: 0;
            }
        }
        

        .author-content {
            background: rgba(255, 255, 255, 0.24);
            border: 1px solid #FFFFFF;
            border-radius: 7px;
            padding: 12px 18px;
            display: inline-block;
        }

        .author-name {
            font-size: 18px;
            margin-bottom: 4px;
            font-weight: 600;
        }

        .author-bio {
            font-size: 16px;
        }
        
    }
    

    &-right {
        margin-right: -196px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-right: 0px;
        }
    }
}


@keyframes as-faqs-1-bg-img-svg-kf {
    0% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(.9);
    }
}




/* 
    faqs-1-end
*/