/* 
    footer-1-start
*/
.as-footer-1 {
    &-area {
        background-color: var(--as-clr-h-1);
    }

    &-favicon {
        text-align: center;
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        z-index: -1;

        img {
            width: 21%;
        }
    }

    &-blur {
        background: rgba(5, 5, 25, 0.12);
        backdrop-filter: blur(42px);
    }


    &-social {
        border-top: 1px solid rgb(255 255 255 / 24%);
        border-bottom: 1px solid rgb(255 255 255 / 24%);

        &-link {
            border-left: 1px solid rgb(255 255 255 / 24%);
            border-right: 1px solid rgb(255 255 255 / 24%);
            display: flex;
            @media #{$xs} {
                flex-wrap: wrap;
            }

            .single-link {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                color: rgb(255 255 255 / 72%);
                gap: 8px;
                padding: 28px 10px;
                transition: var(--as-cube-1);

                i {
                    color: #fff;
                    transition: var(--as-cube-1);
                }
                
                &:hover {
                    background-color: var(--as-clr-pr-1);
                    color: #fff;
                }

                &:not(:last-child) {
                    border-right: 1px solid rgb(255 255 255 / 24%);

                    @media #{$xs} {
                        border-right: none;
                    }
                }
            }
        }
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px 120px;
        flex-wrap: wrap;

        @media #{$xl,$lg,$md,$xs} {
            gap: 50px 50px;
        }
    }

    &-widget {

        &-title {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            color: #fff;
            font-weight: 500;
            margin-bottom: 26px;
            position: relative;
            z-index: 1;
            padding-bottom: 6px;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #fff;
                height: 1px;
                opacity: 20%;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 28px;
                height: 2px;
                background-color: var(--as-clr-sd-1);
                z-index: 1;
            }

        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 14px;


            li {            
                a {
                    font-family: var(--as-font-1);
                    text-transform: capitalize;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.2;
                    transition: var(--as-cube-1);
                    position: relative;
                    z-index: 1;
                    color: #fff;
    
                    &::after {
                        content: "\f105";
                        font-weight: 600;
                        font-family: "Font Awesome 6 Free";
                        font-size: 14px;
                        position: absolute;
                        top: 1px;
                        left: -12px;
                        transition: var(--as-cube-1);
                        opacity: 0;
                    }
    
                    &:hover {
                        transform: translateX(12px);
                        color: #D5D0FF;
                        &::after {
                            opacity: 1;
                        }
                    }
    
                }
            }
        }
    }

    &-logo {
        max-width: 400px;

        .disc {
            color: #fff;
        }

        .logo-elm {
            margin-bottom: 25px;
        }
    }

    &-contact {
        display: flex;
        flex-direction: column;
        gap: 35px;

        .contact-number {
            color: #fff;
            font-size: 16px;
            line-height: 22px;
            display: flex;
            gap: 12px;
            align-items: center;

            .icon {
                width: 36px;
                height: 36px;
                border: 1px solid #fff;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: inline-flex;
                color: #fff;
                transition: var(--as-cube-1);
            }

            .content {
                display: flex;
                flex-direction: column;
            }
            .title {
                opacity: 70%;
            }

            .number {
                transition: var(--as-cube-1);
            }

            &:hover {
                .icon {
                    transform: rotate(45deg);
                    background-color: #D5D0FF;
                    border-color: transparent;
                    color: #000;
                }
                .number {
                    color: #D5D0FF;
                }
            }
        }

        .join-btn {
            display: flex;
            align-items: center;
            font-size: 14px;
            gap: 4px;
            color: rgb(255 255 255 / 80%);
            transition: var(--as-cube-1);

            b {
                color: #fff;
                transition: var(--as-cube-1);
            }
            .icon {
                color: #fff;
                font-size: 16px;
                line-height: 1;
                margin-left: 2px;
                margin-bottom: -2px;
                transition: var(--as-cube-1);
            }

            &:hover {
                .icon {
                    color: #D5D0FF;
                    transform: rotate(45deg);
                }
                b {
                    color: #D5D0FF;
                }
                color: #D5D0FF;
            }
        }
        
    }


    &-marquee {
        border-top: 1px solid rgba(255, 255, 255, 0.24);
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);
        padding-bottom: 30px;
        padding-top: 20px;

        &-wrap {
            display: flex;
            align-items: center;
            gap: 50px;
            margin-right: 50px;

            .single-text {
                display: flex;
                align-items: center;
                gap: 50px;
                color: #121225;
                font-size: 200px;
                flex: 0 0 auto;
                line-height: 1;
                font-weight: 600;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 140px;
                    img {
                        width: 130px;
                    }
                }
            }
        }
        

        .btn-posi {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            z-index: 1;
        }
    }

    &-lets-btn {
        display: flex;
        width: 168px;
        height: 168px;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.16);
        backdrop-filter: blur(7px);
        border-radius: 500%;
        font-size: 28px;
        line-height: 34px;
        color: #fff;
        text-align: center;
        transition: var(--as-cube-1);

        &:hover {
            background-color: var(--as-clr-pr-1);
            color: #fff;
        }
    }

    &-copyright {
        color: rgb(255 255 255 / 70%);
        font-size: 16px;
        padding: 20px 0;

        a {
            color: #fff;
            transition: var(--as-cube-1);
            &:hover {
                color: #D5D0FF;
            }
        }
    }
}
/* 
    footer-1-end
*/