/* 
    hero-1-start
*/
.as-hero-1 {
    &-area {
        padding-top: 270px;
        padding-bottom: 80px;

        @media #{$xl,$lg} {
            padding-top: 170px;
        }

        
        @media #{$md,$xs} {
            padding-top: 170px;
            padding-bottom: 0px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 242px;
            background: linear-gradient(180deg, rgba(1, 1, 53, 0) 0%, #010135 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }


    &-title {
        font-size: 68px;
        font-weight: 600;
        color: #fff;
        line-height: 1.058;
        max-width: 634px;
        margin-bottom: 108px;

        span {
            color: var(--as-clr-sd-1);
        }


        @media #{$xl} {
            font-size: 62px;
        }
    

        @media #{$lg} {
            font-size: 56px;
        }
    
        @media #{$md} {
            font-size: 50px;
        }
    
        @media #{$xs} {
            font-size: 38px;
        }
    
        @media #{$sm} {
            font-size: 44px;
        }
    }

    &-disc {
        color: #fff;
        max-width: 556px;
        opacity: 80%;
        margin-bottom: 35px;
    }


    &-content {
        .btn-wrap {
            display: flex;
            align-items: center;
            gap: 35px;
            flex-wrap: wrap;
        }
    }


    &-bottom {
        border-top: 1px solid rgb(255 255 255 / 20%);
        padding-top: 42px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @media #{$xl,$lg,$md,$xs} {
            flex-wrap: wrap;
        }
    }
    
    &-author {
        display: flex;
        align-items: center;
        gap: 20px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        &-img {
            display: flex;
            align-items: center;

            .img-elm {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #010234;
                transition: var(--as-cube-1);

                &:not(:first-child) {
                    margin-left: -16px;
                }


                &:is(.has-text) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #262662;

                    p {
                        color: #fff;
                        font-size: 18px;

                        span {
                            color: var(--as-clr-sd-1);
                        }
                    }
                    
                }

                &:hover {
                    &:not(.has-text) {
                        position: relative;
                        z-index: 1;
                        transform: scale(1.1);
                    }
                }
                
            }
        }

        &-content {
            .title {
                font-weight: 600;
                color: #fff;
                font-size: 20px;
                margin-bottom: 7px;
            }

            .disc {
                color: rgb(255 255 255 / 80%);

                b {
                    color: #fff;
                    font-weight: 500;
                }
            }
            
        }
    }


    &-partner {
        // mask-image: url("assets/imgs/hero/partner-masking.png");
        // -webkit-mask-image: url("../imgs/hero/partner-masking.png");
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        max-width: 840px;

        &-logo {
            display: flex;
            gap: 65px;
            align-items: center;
            margin-right: 65px;


            @media #{$xs} {
                margin-right: 35px;
                gap: 35px;
            }

            .logo-elm {
                flex: 0 0 auto;
            }
        }
    }

    &-img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -2;
        width: 54%;
        perspective: 2000px;
        transform-style: preserve-3d;
        
        @media #{$md,$xs} {
            position: unset;
            margin-top: 50px;
            width: 100%;
        }
    }

    &-big-title {
        font-size: 318px;
        font-weight: 700;
        color: #fff;
        opacity: 10%;
        line-height: 1;
        position: absolute;
        right: -150px;
        top: 74px;
        z-index: -2;
        animation: h1bigTitleKf 10s linear infinite;
    }
}

@keyframes h1bigTitleKf {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(30px);
    }
}


/* 
    hero-1-end
*/