/* 
    hero-1-start
*/
.as-hero-1 {
    &-area {
        padding-top: 270px;
        padding-bottom: 80px;

        @media #{$xl,$lg} {
            padding-top: 170px;
        }

        
        @media #{$md,$xs} {
            padding-top: 170px;
            padding-bottom: 0px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 242px;
            background: linear-gradient(180deg, rgba(1, 1, 53, 0) 0%, #010135 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }


    &-title {
        font-size: 68px;
        font-weight: 600;
        color: #fff;
        line-height: 1.058;
        max-width: 634px;
        margin-bottom: 108px;

        span {
            color: var(--as-clr-sd-1);
        }


        @media #{$xl} {
            font-size: 62px;
        }
    

        @media #{$lg} {
            font-size: 56px;
        }
    
        @media #{$md} {
            font-size: 50px;
        }
    
        @media #{$xs} {
            font-size: 38px;
        }
    
        @media #{$sm} {
            font-size: 44px;
        }
    }

    &-disc {
        color: #fff;
        max-width: 556px;
        opacity: 80%;
        margin-bottom: 35px;
    }


    &-content {
        .btn-wrap {
            display: flex;
            align-items: center;
            gap: 35px;
            flex-wrap: wrap;
        }
    }


    &-bottom {
        border-top: 1px solid rgb(255 255 255 / 20%);
        padding-top: 42px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @media #{$xl,$lg,$md,$xs} {
            flex-wrap: wrap;
        }
    }
    
    &-author {
        display: flex;
        align-items: center;
        gap: 20px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        &-img {
            display: flex;
            align-items: center;

            .img-elm {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #010234;
                transition: var(--as-cube-1);

                &:not(:first-child) {
                    margin-left: -16px;
                }


                &:is(.has-text) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #262662;

                    p {
                        color: #fff;
                        font-size: 18px;

                        span {
                            color: var(--as-clr-sd-1);
                        }
                    }
                    
                }

                &:hover {
                    &:not(.has-text) {
                        position: relative;
                        z-index: 1;
                        transform: scale(1.1);
                    }
                }
                
            }
        }

        &-content {
            .title {
                font-weight: 600;
                color: #fff;
                font-size: 20px;
                margin-bottom: 7px;
            }

            .disc {
                color: rgb(255 255 255 / 80%);

                b {
                    color: #fff;
                    font-weight: 500;
                }
            }
            
        }
    }


    &-partner {
        // mask-image: url("assets/imgs/hero/partner-masking.png");
        // -webkit-mask-image: url("../imgs/hero/partner-masking.png");
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        max-width: 840px;

        &-logo {
            display: flex;
            gap: 65px;
            align-items: center;
            margin-right: 65px;


            @media #{$xs} {
                margin-right: 35px;
                gap: 35px;
            }

            .logo-elm {
                flex: 0 0 auto;
            }
        }
    }

    &-img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -2;
        width: 54%;
        perspective: 2000px;
        transform-style: preserve-3d;
        
        @media #{$md,$xs} {
            position: unset;
            margin-top: 50px;
            width: 100%;
        }
    }

    &-big-title {
        font-size: 318px;
        font-weight: 700;
        color: #fff;
        opacity: 10%;
        line-height: 1;
        position: absolute;
        right: -150px;
        top: 74px;
        z-index: -2;
        animation: h1bigTitleKf 10s linear infinite;
    }
}

@keyframes h1bigTitleKf {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(30px);
    }
}


/* 
    hero-1-end
*/

/* 
    hero-2-start
*/
.as-hero-2 {
    &-area {
      
        border-radius: 0 0 48px 48px;

        background-color: #020241;


    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        opacity: 88%;


        &-blur {
            position: absolute;
            inset: 0;
    
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
    
            mask-image: radial-gradient(
                circle at center,
                transparent 0%,
                transparent 35%,
                black 65%,
                black 100%
            );
    
            -webkit-mask-image: radial-gradient(
                circle at center,
                transparent 0%,
                transparent 35%,
                black 65%,
                black 100%
            );
    
            pointer-events: none;
        }
    }

    &-bg-shape {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transform: scale(1.05);
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 50px;
        flex-wrap: wrap;
    }
    
    &-right {
        max-width: 420px;
    }

    &-left {
        max-width: 711px;

        @media #{$xl} {
            max-width: 631px;
        }

        @media #{$lg} {
            max-width: 431px;
        }
    }

    &-title {
        font-size: 72px;
        font-weight: 700;
        color: #fff;
        line-height: 1.055;
        margin-bottom: 44px;


        
        @media #{$xl} {
            font-size: 62px;
        }

        @media #{$lg} {
            font-size: 56px;
        }
    
        @media #{$md} {
            font-size: 50px;
        }
    
        @media #{$xs} {
            font-size: 38px;
        }
    
        @media #{$sm} {
            font-size: 44px;
        }


        .split-line {
            overflow: visible;
        }
    }

    &-disc {
        color: #fff;
        margin-bottom: 35px;
    }

    &-author {
        display: flex;


        .img-elm {
            max-width: 124px;
            border-radius: 16px;
            width: 100%;
            border: 6px solid #D9DDE5;
        }

        .content-wrap {
            background: #DBE0E8;
            border-radius: 16px;
            padding: 20px 28px;
            width: 100%;
            overflow: hidden;

            position: relative;
            z-index: 1;
        }

        .name {
            font-size: 24px;
            margin-bottom: 15px;
        }

        .bio {
            font-size: 18px;
            margin-bottom: 17px;

            span {
                display: block;
                font-size: 14px;
                opacity: 72%;
                margin-top: 5px;
            }
        }

        .btn-elm {
            font-size: 14px;
            background-color: var(--as-clr-h-1);
            color: #fff;
            border-radius: 4px;
            padding: 6px 15px;
            transition: var(--as-cube-1);

            &:hover {
                background-color: var(--as-clr-pr-1);
            }
        }

        .favicon-elm {
            position: absolute;
            right: -13px;
            bottom: -9px;
            width: 37%;
            z-index: -1;
        }
    }


    &-slider {
        &-item {
            min-height: 920px;
            padding-bottom: 80px;
            display: flex;
            align-items: end;
            justify-content: end;

            @media #{$xxl,$xl,$lg} {
                min-height: 870px;
            }
    
            @media #{$md,$xs} {
                min-height: auto;
                padding-top: 200px;
            }
        }

        .as-hero-2-bg-shape {
            .shape-line {
                transform: scale(1.3) rotate(26deg);
                transform-origin: center;
                filter: blur(4px);
                transition: 3s;
            }
            .shape-color {
                opacity: 0;
                transition: 1s;
            }
        }

        .as-hero-2-bg-img {
            opacity: 0;
            transition: 1s;
        }

        .as-hero-2-left {
            .btn-wrap {
                opacity: 0;
                filter: blur(5px);
                transition: .8s;
            }
        }

        .as-hero-2-author {
            opacity: 0;
            filter: blur(5px);
            transition: .8s;
        }

        .as-hero-2-disc {
            opacity: 0;
            filter: blur(5px);
            transition: .8s;
        }

        .swiper-slide {
            &:is(.swiper-slide-active) {
                .as-hero-2-bg-shape {
                    .shape-line {
                        transform: scale(1) rotate(0deg);
                        filter: blur(0px);
                        transition-delay: .5s;
                    }

                    .shape-color {
                        opacity: 1;
                        transition-delay: 2.7s;
                    }
                }

                .as-hero-2-bg-img {
                    opacity: 88%;
                    transition-delay: 2.4s;
                }


                .as-hero-2-left {
                    .btn-wrap {
                        opacity: 1;
                        filter: blur(0px);
                        transition-delay: 2s;
                    }
                }
        
                .as-hero-2-author {
                    opacity: 1;
                    filter: blur(0px);

                    transition-delay: 2.1s;
                }
        
                .as-hero-2-disc {
                    opacity: 1;
                    filter: blur(0px);
                    transition-delay: 1.8s;
                }
        
            }
        }


        .swiper-notification {
            display: none;
        }
    }
}










/* 
    hero-2-end
*/