/* 
    industry-1-start
*/
.as-industry-1 {
    &-area {
        background-color: #010128;
    }


    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        width: 86%;
        height: 96%;

        &::after {
            content: "";
            position: absolute;
            height: 418.45px;
            background: linear-gradient(180deg, rgba(2, 2, 48, 0) 0%, var(--as-clr-h-1) 100%);
            bottom: 0;
            left: 0;
            width: 100%;

            z-index: 1;
        }

        &::before {
            content: "";
            position: absolute;
            width: 156.92px;
            height: 100%;
            background: linear-gradient(270deg, #010128 0%, rgba(2, 2, 48, 0) 100%);
            right: 0;
            top: 0;
            z-index: 1;
        }
        
    }
    
    

    &-video {
        text-align: right;
        margin-right: -160px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-right: 0px;
        }

        &-elm {
            max-width: 348px;
            height: 304px;
            display: inline-block;
            mix-blend-mode: luminosity;
        }
    }

    
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.48fr;
        gap: 50px;
        align-items: center;

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }
    }
    
    &-sec-title {
        
        .as-sec-title-1 {
            color: #fff;
        }
        .as-subtitle-1 {
            color: #fff;
            border-color: rgb(255 255 255 / 20%);
        }
        .sec-disc {
            color: #fff;
            opacity: 80%;
            margin-top: 22px;
        }
    }



    &-mask {
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        overflow: hidden;
        margin-right: -240px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-right: 0px;
        }
    }

    &-features {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-right: 16px;

        .link-elm {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #D5D0FF;
            border-radius: 100px;
            padding: 8px;
            padding-right: 24px;
            font-size: 16px;
            color: var(--as-clr-h-1);
            flex: 0 0 auto;
            transition: var(--as-cube-1);

            .icon {
                width: 44px;
                height: 44px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 28px;
                border-radius: 50%;
                color: #000;
            }

            &:hover {
                background-color: var(--as-clr-sd-1);
            }
        }
        
    }

    
}

/* 
    industry-1-end
*/

/* 
    industry-2-start
*/
.as-industry-2 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    
        @media #{$md,$xs} {
            flex-wrap: wrap;
        }
    
        .as-sec-title-1 {
            max-width: 600px;
        }

        .sec-disc {
            margin-bottom: 26px;
        }
        .right {
            max-width: 530px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px 16px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }
    
    &-item {
        background-color: #fff;
        border-radius: 12px;
        padding: 28px 32px;
        display: flex;
        align-items: center;
        position: relative;
        transition: var(--as-cube-1);

        @media #{$xl,$lg,$md} {
            gap: 20px;
            padding: 28px 20px;
        }

        @media #{$xs} {
            flex-wrap: wrap;
            gap: 20px;
            padding: 28px 20px;
        }

        @media #{$sm} {
            flex-wrap: nowrap;
            gap: 20px;
            padding: 28px 20px;
        }

        .img-elm {
            width: 212px;
            height: 212px;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            right: 40px;
            top: -30px;
            transition: var(--as-cube-1);
            opacity: 0;
        }

        .title {
            font-size: 22px;
            display: inline-flex;
            align-items: center;
            gap: 12px;
            transition: var(--as-cube-1);

            @media #{$xs} {
                flex-wrap: wrap;
            }

            @media #{$sm} {
                flex-wrap: nowrap;
            }

            i {
                color: var(--as-clr-pr-1);
                opacity: 40%;
                transition: var(--as-cube-1);
            }
        }

        .number {
            color: rgb(5 5 25 / 32%);
            font-size: 16px;
            font-weight: 500;
            max-width: 130px;
            width: 100%;

            @media #{$xl,$lg,$md,$xs} {
                max-width: none;
                width: auto;
            }

            span {
                color: var(--as-clr-h-1);
                transition: var(--as-cube-1);
            }
            
        }

        &:hover {
            background-color: var(--as-clr-h-1);
            .number {
                color: rgb(255 255 255 / 32%);
                span {
                    color: #fff;
                }
            }
            .title {
                color: #fff;
                i {
                    color: var(--as-clr-sd-1);
                    opacity: 1;
                }
            }
            .img-elm {
                opacity: 1;
            }
        }
    }
    
}



/* 
    industry-2-end
*/