/* 
    partner-2-start
*/
.as-partner-2 {
    &-area {
        background-color: #fff;
        border-radius: 0 0 48px 48px;
        padding-bottom: 48px;
        padding-top: 78px;
        margin-top: -30px;
    }
}

.as-partner-2 {
    &-logo {
        display: flex;
        align-items: center;
        gap: 160px;
        margin-right: 160px;

        @media #{$xxxl} {
            gap: 130px;
            margin-right: 130px;
        }

        @media #{$lg} {
            gap: 100px;
            margin-right: 100px;
        }

        @media #{$md} {
            gap: 80px;
            margin-right: 80px;
        }

        @media #{$xs} {
            gap: 30px;
            margin-right: 30px;
        }

        .single-logo {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;

            img {
                transition: var(--as-cube-1);
                &:nth-child(1) {
                    position: absolute;
                    transform: translateY(110%);
                }
                &:nth-child(2) {

                }
            }

            &:hover {
                img {
                    &:nth-child(1) {
                        transform: translateY(0%);
                    }
                    &:nth-child(2) {
                        transform: translateY(-110%);
                    }
                }
            }
        }
    }
}

/* 
    partner-2-end
*/