/* 
    price-1-start
*/
.as-price-1 {
    &-sec-title {
        max-width: 706px;
        margin-left: auto;
        margin-right: auto;
        .sec-disc {
            margin-top: 22px;
        }
    }


    &-wrap {
        max-width: 1344px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }

    }
    
    &-card {
        background-color: #F3F3F3;
        border-radius: 20px;
        padding: 4px;
        transition: var(--as-cube-1);

        .title-x-number {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            padding: 20px 28px;
        }

        .title {
            font-size: 26px;
            transition: var(--as-cube-1);

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }
    
        .hr-line {
            background: #D9D9D9;
            height: 1px;
            width: 100%;
            transition: var(--as-cube-1);
        }

        .number {
            color: var(--as-clr-pr-1);
            font-style: italic;
        }
        
        .card-bd {
            border-radius: 18px;
            background-color: #fff;
            padding: 24px 24px;

            @media #{$xl,$lg,$md,$xs} {
                padding: 24px 17px;
            }
        }

        .price {
            font-size: 56px;
            line-height: 1;
            margin-bottom: 18px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 40px;
            }

            span {
                font-size: 18px;
                opacity: 72%;
                font-weight: 400;
            }
        }

        .disc {
            margin-bottom: 20px;
        }

        .card-btn {
            width: 100%;
            justify-content: center;
            color: var(--as-clr-h-1);
            padding: 16px 10px;
            margin-bottom: 28px;

            &::after {
                width: 100%;
                background-color: #F3F3F3;
            }

            &:hover {
                color: #fff;
                &::after {
                    background-color: var(--as-clr-h-1);

                }
            }
        }

        .subtitle {
            font-size: 20px;
            font-weight: 600;
            opacity: 32%;
            margin-bottom: 18px;
        }
        

        .price-list {
            display: flex;
            flex-direction: column;
            gap: 11px;

            li {
                color: var(--as-clr-h-1);
                display: inline-flex;
                align-items: center;
                gap: 8px;

                i {
                    font-size: 24px;
                    opacity: 52%;
                }
            }
            
        }

        &:is(.active) {
            background-color: var(--as-clr-h-1);
            .title {
                color: #fff;
            }
            .hr-line {
                opacity: 50%;
            }
        }
    }
    
    
    &-content {
        border-radius: 20px;
        padding: 4px;
        padding-right: 20px;
        border: 4px solid #F3F3F3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        overflow: hidden;
        max-width: 1344px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;


        .support-icon {
            filter: grayscale(1);
            position: absolute;
            top: 50%;
            left: 63%;
            transform: translate(-50%, -50%);
        }
        
    }

            
    &-support {
        display: flex;
        align-items: center;
        gap: 24px;


        .img-elm {
            width: 76px;
            height: 76px;
            border-radius: 15px;
        }

        .title {
            font-size: 22px;
            margin-bottom: 6px;

            a {
                color: var(--as-clr-pr-1);
                font-style: italic;
                transition: var(--as-cube-1);

                &:hover {
                    color: var(--as-clr-sd-1);
                }
            }
        }

        .disc {
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}
/* 
    price-1-end
*/