/* 
    projects-1-start
*/
.as-projects-1 {
    &-area {
        &::after {
            content: "";
            width: 55.3%;
            height: 224px;
            background-color: #F4F4FB;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
    &-slider {
        &-preview {
            position: absolute;
            top: 0;
            left: 0;
            width: 140px;
            height: 800px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }

            &-img {
                height: 100%;

                img {
                    object-position: 90% 50%;
                }
            }
        }
    }

    &-wrap {
        display: grid;
        gap: 85px;
        grid-template-columns: 1fr 1.2fr;
        margin-right: -258px;

        @media #{$xxxl,$xxl} {
            grid-template-columns: 1fr 1.4fr;
            margin-right: 0;
        }

        @media #{$xl,$lg,$md,$xs} {
            grid-template-columns: 1fr ;
            margin-right: 0;
        }
    }

    &-left {
        margin-top: 120px;
    }

    &-sec-title {
        margin-bottom: 165px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-bottom: 55px;
        }

        .as-sec-title-1  {
            font-size: 60px;

            @media #{$xxl} {
                font-size: 56px;
            }

            @media #{$xl} {
                font-size: 50px;
            }

            @media #{$lg} {
                font-size: 42px;
            }
        
            @media #{$md} {
                font-size: 38px;
            }
        
            @media #{$xs} {
                font-size: 30px;
            }
        
            @media #{$sm} {
                font-size: 34px;
            }
        }
    }


    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 28px;
        align-items: center;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }

        .img-elm {
            border-radius: 8px;
            height: 224px;
        }

        .disc {
            margin-bottom: 30px;
        }
    }



    &-slider {
        &-main {
            &-elm {
                height: 880px;
                position: relative;
                z-index: 1;

                @media #{$xs} {
                    height: 610px;
                }

                .bg-img {
                    width: 100%;
                    height: calc(100% - 80px);
                }

                .card-posi {
                    position: absolute;
                    bottom: 0;
                    right: 112px;
                    transform: translateX(50%);
                    transition: 1.2s;

                    @media #{$xxl,$xl,$lg,$md} {
                        right: 50px;
                    }

                    @media #{$xs} {
                        right: 10px;
                    }

                    @media #{$sm} {
                        right: 50px;
                    }
                }
            }


            .swiper-wrapper {
                .swiper-slide {
                    overflow: hidden;
                    &:is(.swiper-slide-active) {
                        .as-projects-1-slider-main-elm .card-posi {
                            transform: translateX(0);
                            transition-delay: .3s;
                        }
                    }
                }
            }
        }


        &-btn {
            position: absolute;
            bottom: 144px;
            left: 40px;
            z-index: 1;
            display: flex;
            gap: 8px;

            @media #{$xs} {
                position: unset;
                margin-top: 30px;
            }

            .single-btn {
                width: 56px;
                height: 56px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(1px);
                border-radius: 28px;
                font-size: 18px;
                color: #fff;
                transition: var(--as-cube-1);
                cursor: pointer;

                @media #{$xs} {
                    background: rgba(51, 51, 51, 0.3);
                }

                &:hover {
                    background-color: var(--as-clr-pr-1);
                }

                
            }
        }
        
    }


    &-card {
        max-width: 440px;
        border-radius: 10px;
        background-color: #F4F4FB;
        padding: 8px;
        padding-top: 22px;
        position: relative;
        z-index: 1;

        .dot-shape {
            position: absolute;
            top: 9px;
            left: 17px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #D7D7DF;
            z-index: 1;

            &:is(.has-clr) {
                background-color: var(--as-clr-pr-1);
            }

            &:nth-child(2) {
                left: 27px;
            }

            &:nth-child(3) {
                left: 37px;
            }

            &:nth-child(4) {
                left: 47px;
            }
        }

        .card-img {
            height: 156px;
            border-radius: 10px;
        }

        .img-x-meta {
            background-color: #fff;
            border-radius: 0 0 10px 10px;
            margin-bottom: 22px;
        }

        .card-meta {
            display: flex;
            padding: 10px 16px;
            gap: 15px;

            &-elm {
                font-size: 15px;
                display: flex;
                align-items: center;
                gap: 8px;

                i {
                    color: var(--as-clr-pr-1);
                }

                &:not(:last-child) {
                    position: relative;
                    z-index: 1;
                    padding-right: 15px;

                    &::after {
                        content: "";
                        width: 1px;
                        height: 40px;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        background: radial-gradient(50% 50% at 50% 50%, #050519 0%, #FFFFFF 100%);
                        opacity: 0.8;
                    }
                }
            }
        }
        

        .title {
            font-size: 26px;
            margin-bottom: 15px;

            @media #{$xs} {
                font-size: 22px;
            }

            a {
                transition: var(--as-cube-1);

                &:hover {
                    color: var(--as-clr-pr-1);
                }
            }
        }
        
        .title-x-content {
            padding: 0 20px;
            margin-bottom: 65px;
        }
        
        .disc span {
            color: var(--as-clr-pr-1);
        }

        .as-pr-btn-1 {
            justify-content: center;
            text-align: center;
            width: 100%;
            padding: 12px 10px;
            color: #fff;

            &::after {
                width: 100%;
                border-radius: 8px;
                background-color: var(--as-clr-h-1);
            }

            &:hover {
                &::after {
                    background-color: var(--as-clr-pr-1);
                }
            }
        }
        
    }
    

}


/* 
    projects-1-end
*/

/* 
    projects-2-start
*/
.as-projects-2 {
    &-container {
        @media #{$over} {
            margin-left: -258px;
            margin-right: -258px;
        }
    }
    &-wrap {
        background-color: var(--as-clr-h-1);
        display: grid;
        gap: 60px;
        grid-template-columns: 1.37fr 1fr;

        @media #{$xl,$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-big-title {
        text-align: center;
        font-size: 280px;
        font-weight: 600;
        opacity: 7%;
        line-height: 1;
        margin-bottom: -90px;

        @media #{$xxxl} {
            font-size: 210px;
            margin-bottom: -80px;
        }

        @media #{$xxl} {
            font-size: 190px;
            margin-bottom: -70px;
        }

        @media #{$xl} {
            font-size: 170px;
            margin-bottom: -60px;
        }

        @media #{$lg} {
            font-size: 140px;
            margin-bottom: -40px;
        }

        @media #{$md} {
            font-size: 110px;
            margin-bottom: 0px;
        }

        @media #{$xs} {
            font-size: 50px;
            margin-bottom: 0px;
        }

        @media #{$sm} {
            font-size: 80px;
            margin-bottom: 0px;
        }
    }

    &-right {
        border-left: 1px solid rgb(255 255 255 / 24%);
        padding-top: 22px;

        
    }

    &-left {
        margin: 32px;
        margin-right: 0;
        position: relative;
        z-index: 1;
        align-self: flex-start;

        @media #{$xl,$lg,$md,$xs} {
            margin: 20px;
        }
    }

    &-item {
        &-content {
            border-bottom: 1px solid rgb(255 255 255 / 24%);
            height: 109px;
            overflow: hidden;
            position: relative;

            @media #{$xl,$lg,$md,$xs} {
                height: auto;
            }

            .bg-favicon {
                width: 34%;
                position: absolute;
                right: 0;
                top: 0;
                pointer-events: none;
            }

            &-box {
                padding: 0px 60px;
                padding-bottom: 40px;

                @media #{$xxxl,$xxl} {
                    padding: 0px 30px;
                    padding-bottom: 40px;
                }

                @media #{$xs} {
                    padding: 0px 30px;
                    padding-bottom: 40px;
                }

                .title {
                    font-size: 24px;
                    color: #fff;
                    font-weight: 500;
                    padding: 41px 0;
                }

                .item-list {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    margin-bottom: 42px;

                    li {
                        color: #fff;
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        border-bottom: 1px solid rgb(255 255 255 / 28%);
                        padding: 8px 0;

                        @media #{$xs} {
                            flex-wrap: wrap;
                        }

                        span {
                            &:nth-child(1) {
                                opacity: 80%;
                            }
                        }
                    }
                }

                .disc {
                    color: #fff;
                    opacity: 80%;
                }
            }
        }

        &-img {
            height: 856px;

            @media #{$xxxl,$xxl} {
                height: 716px;
            }

            @media #{$xl,$lg,$md,$xs} {
                height: auto;
                
            }

            &-single {
                height: 100%;
                border-radius: 12px;
                position: absolute;
                inset: 0;

                @media #{$xl,$lg,$md,$xs} {
                    height: 506px;
                    position: relative;
                    margin-bottom: 30px;
                }

                .tags-list {
                    position: absolute;
                    bottom: 32px;
                    left: 32px;
                    display: flex;
                    gap: 6px;

                    @media #{$xl,$lg,$md,$xs} {
                        flex-wrap: wrap;
                    }

                    li {
                        background-color: rgb(255 255 255 / 76%);
                        border-radius: 6px;
                        color: var(--as-clr-pr-1);
                        padding: 6px 17px;
                        flex: 0 0 auto;
                    }
                }
            }
        }
    }

}


@media #{$over,$xxxl,$xxl} {
    .as-projects-2-height {
        height: 400vh;
        position: relative;
    }
    
    .as-projects-2-pin {
        position: sticky;
        top: 0;
    }
}




/* 
    projects-2-end
*/