/* 
    services-1-start
*/
.as-services-1 {
    &-wrap {
        display: grid;
        grid-template-columns: 1.6fr 1fr;
        align-items: center;
        border-top: 1px dashed rgb(5 5 25 / 20%);
        border-bottom: 1px dashed rgb(5 5 25 / 20%);

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }

        &-right {
            padding: 0 40px;

            @media #{$xs} {
                padding: 0 10px;
            }

            @media #{$sm} {
                padding: 0 40px;
            }
        }
    }

    &-border {
        border-left: 1px dashed rgb(5 5 25 / 20%);
        border-right: 1px dashed rgb(5 5 25 / 20%);
    }

    &-tabs {
        &-btn {
            border-right: 1px dashed rgb(5 5 25 / 20%);

            .nav-link {
                text-align: left;
                border: none;
                background: transparent;
                width: 100%;
                position: relative;
                z-index: 1;

                .bg-line {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background-color: var(--as-clr-h-1);
                    opacity: 0;
                    transition: var(--as-cube-1);
                }

            }

            &-single {
                width: 100%;
                padding: 20px 28px;

                .top-content {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;
                }

                .number {
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.48);
                    font-weight: 500;
                    max-width: 160px;
                    width: 100%;
                    align-self: start;
                    margin-top: 9px;

                    span {
                        transition: var(--as-cube-1);

                        &:nth-child(1) {
                    
                        }
                        &:nth-child(2) {
                            color: var(--as-clr-pr-1);
                        }
                    }

                    @media #{$xl,$lg,$md,$xs} {
                        max-width: 100%;
                    }
                    
                }


                .arrow-btn {
                    width: 48px;
                    height: 48px;
                    background-color: rgb(230 230 232 / 40%);
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    color: #000;
                    margin-left: auto;
                    transition: var(--as-cube-1);
                }

                .title {
                    font-size: 26px;
                    transition: var(--as-cube-1);
                    a {
                        transition: var(--as-cube-1);
                    }

                    @media #{$xl,$lg,$md,$xs} {
                        font-size: 22px;
                    }
                }


                .bottom-content {
                    display: flex;
                    align-items: center;
                    gap: 50px;
                    justify-content: center;
                    padding-top: 0px;
                    overflow: hidden;
                    height: 0px;
                    transition: var(--as-cube-1);

                    @media #{$xs} {
                        flex-wrap: wrap;
                    }

                    @media #{$sm} {
                        flex-wrap: nowrap;
                    }
                }

                .icon {
                    font-size: 90px;
                    line-height: .65;
                    margin-left: 80px;
                    color: var(--as-clr-sd-1);

                    @media #{$xs} {
                        margin-left: 0px;
                    }
                }
                
                .disc {
                    opacity: 80%;
                    font-size: 16px;
                    max-width: 350px;
                    color: #fff;

                }
            }

            .nav-item {
                &:not(:last-child) {
                    
                    .nav-link {
                        border-bottom: 1px dashed rgb(5 5 25 / 20%);
                    }
                }
            }


            .nav-link.active {
                .bg-line {
                    opacity: 1;
                }
                .as-services-1-tabs-btn {
                    &-single {
            
                        .title {
                            color: #fff;
                            font-weight: 600;
                        }
            
                        .number {
                            span {
                                &:nth-child(1) {
                                    opacity: 0;
                                }
                                &:nth-child(2) {
                                    color: #fff;
                                }
                            }
                        }
            
                        .arrow-btn {
                            background-color: var(--as-clr-pr-1);
                            color: #fff;
                        }
            
                        .bottom-content {
                            padding-top: 12px;
                            height: 114px;

                            @media #{$xs} {
                                height: 298px;
                            }

                            @media #{$sm} {
                                height: 156px;
                            }
                        }
                    }
                }
            }
        }
    }

    &-tabs {
        &-box {
            height: 486px;
            overflow: hidden;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 100%;
                height: 311.74px;
                background: #1D1EE3;
                border: 1px solid rgba(255, 255, 255, 0.16);
                box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.68);
                border-radius: 8px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -2;
            }

            &::before {
                content: "";
                width: 100%;
                height: 172.02px;
                background: #1D1EE3;
                border: 1px solid rgba(255, 255, 255, 0.16);
                box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.68);
                border-radius: 8px;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .favicon-elm {
                position: absolute;
                bottom: 34px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
            
        }


        &-pane {
            max-width: 350px;
            position: absolute;
            bottom: -50%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            z-index: -1;

            @media #{$xl,$lg,$md,$xs} {
                max-width: 260px;
            }

            &-img {
                height: 386px;
                border-radius: 8px;
                transition: .4s;
                transition-delay: 0s;
            }

            .tab-pane {
                display: block;
                opacity: 1;
                position: absolute;
                left: 0;
                bottom: 0;
                &:is(.show) {
                    .as-services-1-tabs-pane-img {
                        transform: translateY(-82%) rotate(9deg);
                        transition-delay: .2s;
                    }
                }
            }
        }
        
    }


    &-content {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
        padding: 0 32px;
        align-items: center;

        .disc {
            max-width: 685px;
        }
    }
    
    
}



/* 
    services-1-end
*/

/* 
    services-2-start
*/
.as-services-2 {
    &-area {
        background-color: var(--as-clr-h-1);
        border-radius: 0 0 40px 40px ;
    }

    &-subtitle {
        color: #fff;
        border-color: rgb(255 255 255 / 32%);

        &::after {
            background: #fff;
            opacity: 16%;
        }
    }
    

    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }


        .as-sec-title-1 {
            max-width: 560px;
            color: #fff;
        }

        .right {
            max-width: 490px;
        }

        .sec-disc {
            color: #fff;
            opacity: 80%;
            margin-bottom: 35px;
        }
    }

    &-accordion {
        .as-accordion-1-item {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.15) 100%);
            border-bottom: 1px solid rgba(255, 255, 255, 0.32);

            .item-title {
                font-size: 26px;
                color: #fff;
                padding: 34px 0px;
                justify-content: start;
                gap: 30px;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }

                .number {
                    font-size: 16px;
                    color: rgb(255 255 255 / 50%);
          
                    @media #{$over,$xxxl,$xxl} {
                        max-width: 350px;
                        width: 100%;
                    }

                    span {
                        color: #fff;
                    }
                }

                .title {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    i {
                        color: #D5D0FF;
                        font-size: 30px;
                    }
                }

                .icon {
                    width: 48px;
                    height: 48px;
                    border: 1px solid rgb(255 255 255 / 32%);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    border-radius: 50%;
                    color: #fff;
                    opacity: 1;
                    margin-left: auto;
                    flex: 0 0 auto;
                }


                &:is(:not(.collapsed)) {
                    .icon {
                        color: var(--as-clr-h-1);
                        background: #fff;
                    }

                    .title {
                        font-size: 36px;
                        font-weight: 600;
                        i {
                            display: none;
                        }

                        font-size: 24px;
                    }
                }
    
                &:is(.collapsed) {
    
                }
            }



            .content-wrap {
                display: flex;

                @media #{$md,$xs} {
                    flex-wrap: wrap;
                    padding-bottom: 30px;
                }

                &-right {
                    margin-left: -50px;
                    padding-top: 10px;

                    @media #{$md,$xs} {
                        margin-left: 0px;
                    }
                }

                .big-icon {
                    color: #fff;
                    font-size: 260px;
                    line-height: .7;
                    opacity: 8%;
                    margin-right: 105px;

                    @media #{$xl,$lg,$md,$xs} {
                        font-size: 100px;
                        margin-right: 25px;
                    }
                }

                .disc {
                    color: #fff;
                    opacity: 80%;
                    margin-bottom: 55px;
                    max-width: 520px;
                }


                .img-elm {
                    mask-size: 100% 100%;
                    height: 335px;
                    width: 422px;
                    flex: 0 0 auto;
                }


                .features-list {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-left: 88px;

                    @media #{$md,$xs} {
                        margin-left: 0px;
                    }

                    li {
                        color: #fff;
                        position: relative;
                        z-index: 1;
                        padding-left: 14px;

                        &::after {
                            content: "";
                            width: 6px;
                            height: 6px;
                            background-color: var(--as-clr-sd-1);
                            position: absolute;
                            top: 11px;
                            left: 0;
                            border-radius: 50%;
                        }
                    }
                }
                

            }

            &:is(.active) {
                background: linear-gradient(180deg, rgba(1, 54, 255, 0.12) 0%, #0136FF 100%);
            }
        }
    }
}

/* 
    services-2-end
*/