/* 
    skill-start
*/
.as-skill-2 {
    &-area {
        padding-bottom: 240px;
    }
    &-wrap {
        display: grid;
        gap: 142px;
        grid-template-columns: 1fr 1.07fr;

        @media #{$xl,$lg} {
            gap: 52px;
        }

        @media #{$md,$xs} {
            gap: 52px;
            grid-template-columns: 1fr;
        }
    }

    &-sec-title {
        .as-sec-title-1 {
            margin-bottom: 22px;
        }

        .sec-disc {
            margin-bottom: 33px;
        }
    }

    &-img {
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        height: 625px;

        @media #{$xs} {
            height: 400px;
        }

        @media #{$sm} {
            height: 500px;
        }

    }

    &-progress {
        display: flex;
        flex-direction: column;
        gap: 26px;

        &-item {
            display: flex;
            flex-direction: column;

            .title-x-number {
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
            }

            .progress-line {
                background-color: #ffff;
                width: 100%;
                height: 6px;
                border-radius: 40px;
                overflow: hidden;

                &-fill {
                    height: 100%;
                    background-color: var(--as-clr-pr-1);
                    border-radius: 40px;
                }
            }

            &:is(.has-clr-1) {
                .title-x-number {
                    span {
                        &:nth-child(2) {
                            color: #FFA909;
                        }
                    }
                }
                .progress-line {
    
                    &-fill {
                        background-color: #FFA909;
                    }
                }
            }

            &:is(.has-clr-2) {
                .title-x-number {
                    span {
                        &:nth-child(2) {
                            color: #1DE35F;
                        }
                    }
                }
                .progress-line {
    
                    &-fill {
                        background-color: #1DE35F;
                    }
                }
            }

            &:is(.has-clr-3) {
                .title-x-number {
                    span {
                        &:nth-child(2) {
                            color: #36C6FF;
                        }
                    }
                }
                .progress-line {
    
                    &-fill {
                        background-color: #36C6FF;
                    }
                }
            }
        }
    }
}





/* 
    skill-end
*/