
/* 
    typography-start
*/

.as-p-1 {
    font-family: var(--as-font-2);
    font-weight: 400;
    font-size: 18px;
    color: var(--as-clr-p-1);
    line-height: 1.555;
    margin-bottom: 0;
}

.as-h-1 {
    font-family: var(--as-font-1);
    font-weight: 500;
    color: var(--as-clr-h-1);
    letter-spacing: -0.01em;
    line-height: 1.090;
    margin-bottom: 0;
}



.as-subtitle-1 {
    display: inline-flex;
    border: 1px solid rgb(5 5 25 / 20%);
    border-radius: 6px;
    font-family: var(--as-font-1);
    font-weight: 500;
    color: var(--as-clr-h-1);
    line-height: 1.3;
    font-size: 15px;
    gap: 6px;
    align-items: center;
    padding: 4px 7px;
    margin-bottom: 15px;

    i {
        color: var(--as-clr-sd-1);
    }
}

.as-subtitle-2 {
    font-family: var(--as-font-1);
    line-height: 1.5;
    color: var(--as-clr-h-1);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.16em;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 32px;
    padding-bottom: 10px;
    
    &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: var(--as-clr-h-1);
        position: absolute;
        bottom: -2px;
        left: 0;
        opacity: 16%;
    }
}


.as-sec-title-1 {
    font-family: var(--as-font-1);
    color: var(--as-clr-h-1);
    font-weight: 600;
    font-size: 44px;
    letter-spacing: -0.01em;
    line-height: 1.090;
    margin-bottom: 0;


    @media #{$lg} {
        font-size: 42px;
    }

    @media #{$md} {
        font-size: 38px;
    }

    @media #{$xs} {
        font-size: 30px;
    }

    @media #{$sm} {
        font-size: 34px;
    }
}



/* 
    typography-end
*/

