/*
    utility-start
*/


@media (min-width: 1500px) {
    .container{
        &.as-container-1 {
            max-width: 1424px;
        }
    }
}

.wa-fix {
    overflow: hidden;
}

.wa-ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.wa-p-relative {
    position: relative;
    z-index: 1;
}

.wa-img-cover {
    img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
    }
}
.wa-video-cover {
    video {
        width: 100%;
        height: 100% ;
        object-fit: cover;
    }
}

.wa-bg-default {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.flaticon {
    display: inline-block;
    line-height: 0.65;
}

.wa-line-limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    &:is(.has-line-1) {
        -webkit-line-clamp: 1; 
        line-clamp: 1; 
    }

    &:is(.has-line-2) {
        -webkit-line-clamp: 2; 
        line-clamp: 2; 
    }

    &:is(.has-line-3) {
        -webkit-line-clamp: 3; 
        line-clamp: 3; 
    }

    &:is(.has-line-4) {
        -webkit-line-clamp: 4; 
        line-clamp: 4; 
    }

    &:is(.has-line-5) {
        -webkit-line-clamp: 5; 
        line-clamp: 5; 
    }

    &:is(.has-line-6) {
        -webkit-line-clamp: 6; 
        line-clamp: 6; 
    }

    &:is(.has-line-7) {
        -webkit-line-clamp: 7; 
        line-clamp: 7; 
    }

    &:is(.has-line-8) {
        -webkit-line-clamp: 8; 
        line-clamp: 8; 
    }

    &:is(.has-line-9) {
        -webkit-line-clamp: 9; 
        line-clamp: 9; 
    }

    &:is(.has-line-10) {
        -webkit-line-clamp: 10; 
        line-clamp: 10; 
    }
}


.as-home-7 {
    background-color: #F2F1F6;
}

.wa_magnetic_1_trigger {
    img {
        transform: scale(1.05);
    }
}
.wa_magnetic_2_elm {
    transform: scale(1.05);
    transform-origin: center;
}
